extends ../../templates/default
block vars
	-
		title = "Аналитика И НОВОСТИ"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.page.bg-wrap
		.case
			.page__head
				+breadcrumbs()
			.page__body
				.page__text.--mb-md.t1
					h1 Форекс аналитика и новости финансовых рынков
					p Представляем вашему вниманию раздел с актуальной форекс аналитикой по самым популярным торговым инструментам, а также новостную ленту наиболее значимых событий из форекс индустрии, мировых финансов и рынка криптовалют. Авторами форекс аналитики являются практикующие трейдеры, выстраивающие свои прогнозы на базе технического и фундаментального анализов. Новостная лента формируется как из новостей, которые прямо или косвенно влияют на колебания цен на финансовых рынках, так и из полезных новостей, к примеру, от какого форекс брокера стоит держаться подальше или как не угодить в очередную финансовую пирамиду. Для удобства отслеживания аналитических обзоров и новостей подписывайтесь на наши социальные сети и не забывайте делиться ссылками на понравившиеся обзоры и новости, так вы поможете нам и убережете чей-то депозит от слива.
				+style('news', 'blocks')
				include ../../blocks/news/news

		.page__bg-23.bg
			img(src="_/uploads/scheme-news-1.png" alt="")

		.page__bg-24.bg
			img(src="_/uploads/scheme-news-2.png" alt="")

		.page__bg-25.bg
			img(src="_/uploads/scheme-news-3.png" alt="")