include ../../sys/pug/vars

link(rel="stylesheet" href="_/components/range/nouislider.min.css" + version)
link(rel="stylesheet" href="_/components/range/range.css" + version)
+script('range', 'components')
.brokers
	.brokers__tabs-nav.tabs-links
		if !rebate
			a.brokers__tabs-link.tabs-link(href="#brokers-forex") Forex брокеры
			a.brokers__tabs-link.tabs-link(href="#brokers-options") Бинарные брокеры
			a.brokers__tabs-link.tabs-link(href="#brokers-crypto") Биржи криптовалют
		else
				a.brokers__tabs-link.tabs-link(href="#brokers-forex") Forex брокеры
	.brokers__search.input.--md.--b-gray-l.--fz-md
		.input__wrap
			input.input__area(type="text" placeholder="Поиск по названию брокера...")

	.brokers__tabs-list
		if !rebate
			.brokers__tab.tabs-item#brokers-forex
				.brokers__filter.filter.row
					.filter__item
						.filter__name Минимальный депозит
						.filter__range.range(data-min="1" data-max="500" data-current="1" data-step="10" data-before="" data-after=" USD")
					.filter__item
						.filter__name Кредитное плечо
						.filter__range.range(data-min="100" data-max="5000" data-current="100" data-step="100" data-before="1:" data-after="")
					.filter__item
						.filter__name Минимальный спред
						.filter__range.range(data-min="0" data-max="10" data-current="0" data-step="1" data-before="" data-after=" ПП")

					.filter__item
						.filter__name Торговый терминал
						.filter__checks.row
							.filter__check.checkbox.check.--md.--b-gray
								input(type="checkbox" name="trading_terminal" value="MT4")
								.checkbox__icon
									<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M10.9551 2.66903L4.13481 9.48935C4.07473 9.54942 3.97746 9.54942 3.91753 9.48935L0.0449508 5.61663C-0.0149836 5.55683 -0.0149836 5.45956 0.0449508 5.39949L0.985935 4.45851C1.04601 4.39857 1.14328 4.39857 1.20321 4.45851L4.02631 7.28146L9.797 1.51077C9.85721 1.45084 9.9542 1.45084 10.0143 1.51077L10.9551 2.45176C11.0152 2.51169 11.0152 2.60882 10.9551 2.66903Z" fill="#FFB800"/></g><defs></defs></svg>
								.checkbox__label MT4
							.filter__check.checkbox.check.--md.--b-gray
								input(type="checkbox" name="trading_terminal" value="MT5")
								.checkbox__icon
									<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M10.9551 2.66903L4.13481 9.48935C4.07473 9.54942 3.97746 9.54942 3.91753 9.48935L0.0449508 5.61663C-0.0149836 5.55683 -0.0149836 5.45956 0.0449508 5.39949L0.985935 4.45851C1.04601 4.39857 1.14328 4.39857 1.20321 4.45851L4.02631 7.28146L9.797 1.51077C9.85721 1.45084 9.9542 1.45084 10.0143 1.51077L10.9551 2.45176C11.0152 2.51169 11.0152 2.60882 10.9551 2.66903Z" fill="#FFB800"/></g><defs></defs></svg>
								.checkbox__label MT5
					button.filter__show.btn.--lg.--bg-yellow.--bb.--radius Показать

				.t.--brokers
					table
						thead
							tr
								th Forex брокеры
								th
									.t-icon.t-sorting
										<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.61883 5.57102H9.86881C9.93656 5.57102 9.99218 5.5493 10.0356 5.50572C10.0792 5.46219 10.101 5.40662 10.101 5.33886V3.94603C10.101 3.87826 10.0792 3.82269 10.0356 3.77917C9.99218 3.73569 9.93656 3.71387 9.86881 3.71387H6.61883C6.55109 3.71387 6.49552 3.73559 6.45197 3.77917C6.40852 3.82269 6.38672 3.87826 6.38672 3.94603V5.33886C6.38672 5.40662 6.40844 5.46219 6.45197 5.50572C6.49552 5.54922 6.55109 5.57102 6.61883 5.57102Z" fill="white"></path><path d="M6.61883 1.85713H8.47591C8.54365 1.85713 8.5993 1.8354 8.64267 1.79188C8.68632 1.74833 8.70779 1.69276 8.70779 1.62502V0.232138C8.70779 0.164473 8.6863 0.108827 8.64267 0.0652761C8.5993 0.0218264 8.54365 0 8.47591 0H6.61883C6.55109 0 6.49552 0.0217248 6.45197 0.0652507C6.40855 0.108827 6.38672 0.164473 6.38672 0.232112V1.62499C6.38672 1.69273 6.40844 1.7483 6.45197 1.79185C6.49555 1.8353 6.55109 1.85713 6.61883 1.85713Z" fill="white"></path><path d="M4.99395 10.2142H3.6011V0.232138C3.6011 0.164473 3.5794 0.108751 3.53585 0.0652761C3.49229 0.0218264 3.43672 0 3.36896 0H1.97608C1.90842 0 1.85269 0.0217248 1.80922 0.0652507C1.76579 0.108827 1.74397 0.164473 1.74397 0.232112V10.2142H0.35109C0.244778 10.2142 0.17221 10.2625 0.133486 10.3593C0.0947371 10.4513 0.111761 10.5358 0.184228 10.6132L2.50563 12.9347C2.55884 12.9781 2.61441 12.9998 2.67249 12.9998C2.73536 12.9998 2.79103 12.9781 2.83936 12.9347L5.15352 10.6205C5.20195 10.5626 5.22609 10.5044 5.22609 10.4466C5.22609 10.3786 5.20426 10.3232 5.16084 10.2793C5.11731 10.236 5.06174 10.2142 4.99395 10.2142Z" fill="white"></path><path d="M12.8214 11.208C12.7778 11.1643 12.7223 11.1426 12.6545 11.1426H6.61883C6.55109 11.1426 6.49552 11.1643 6.45197 11.208C6.40855 11.2514 6.38672 11.3071 6.38672 11.3747V12.7675C6.38672 12.8355 6.40844 12.8909 6.45197 12.9345C6.49555 12.978 6.55109 12.9997 6.61883 12.9997H12.6545C12.7222 12.9997 12.7778 12.978 12.8213 12.9345C12.8648 12.8908 12.8865 12.8355 12.8865 12.7675V11.3747C12.8866 11.3071 12.8648 11.2514 12.8214 11.208Z" fill="white"></path><path d="M6.61883 9.28564H11.2617C11.3294 9.28564 11.385 9.26391 11.4287 9.22044C11.4721 9.17696 11.4938 9.12132 11.4938 9.05368V7.66067C11.4938 7.59303 11.4721 7.53736 11.4287 7.49391C11.385 7.45044 11.3294 7.42871 11.2617 7.42871H6.61883C6.55109 7.42871 6.49552 7.45044 6.45197 7.49391C6.40852 7.53739 6.38672 7.59303 6.38672 7.66067V9.05368C6.38672 9.12132 6.40844 9.17699 6.45197 9.22044C6.49552 9.26391 6.55109 9.28564 6.61883 9.28564Z" fill="white"></path></svg>
										span Основан
								th Регулятор
								th
									.t-icon.t-sorting
										<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.61883 5.57102H9.86881C9.93656 5.57102 9.99218 5.5493 10.0356 5.50572C10.0792 5.46219 10.101 5.40662 10.101 5.33886V3.94603C10.101 3.87826 10.0792 3.82269 10.0356 3.77917C9.99218 3.73569 9.93656 3.71387 9.86881 3.71387H6.61883C6.55109 3.71387 6.49552 3.73559 6.45197 3.77917C6.40852 3.82269 6.38672 3.87826 6.38672 3.94603V5.33886C6.38672 5.40662 6.40844 5.46219 6.45197 5.50572C6.49552 5.54922 6.55109 5.57102 6.61883 5.57102Z" fill="white"></path><path d="M6.61883 1.85713H8.47591C8.54365 1.85713 8.5993 1.8354 8.64267 1.79188C8.68632 1.74833 8.70779 1.69276 8.70779 1.62502V0.232138C8.70779 0.164473 8.6863 0.108827 8.64267 0.0652761C8.5993 0.0218264 8.54365 0 8.47591 0H6.61883C6.55109 0 6.49552 0.0217248 6.45197 0.0652507C6.40855 0.108827 6.38672 0.164473 6.38672 0.232112V1.62499C6.38672 1.69273 6.40844 1.7483 6.45197 1.79185C6.49555 1.8353 6.55109 1.85713 6.61883 1.85713Z" fill="white"></path><path d="M4.99395 10.2142H3.6011V0.232138C3.6011 0.164473 3.5794 0.108751 3.53585 0.0652761C3.49229 0.0218264 3.43672 0 3.36896 0H1.97608C1.90842 0 1.85269 0.0217248 1.80922 0.0652507C1.76579 0.108827 1.74397 0.164473 1.74397 0.232112V10.2142H0.35109C0.244778 10.2142 0.17221 10.2625 0.133486 10.3593C0.0947371 10.4513 0.111761 10.5358 0.184228 10.6132L2.50563 12.9347C2.55884 12.9781 2.61441 12.9998 2.67249 12.9998C2.73536 12.9998 2.79103 12.9781 2.83936 12.9347L5.15352 10.6205C5.20195 10.5626 5.22609 10.5044 5.22609 10.4466C5.22609 10.3786 5.20426 10.3232 5.16084 10.2793C5.11731 10.236 5.06174 10.2142 4.99395 10.2142Z" fill="white"></path><path d="M12.8214 11.208C12.7778 11.1643 12.7223 11.1426 12.6545 11.1426H6.61883C6.55109 11.1426 6.49552 11.1643 6.45197 11.208C6.40855 11.2514 6.38672 11.3071 6.38672 11.3747V12.7675C6.38672 12.8355 6.40844 12.8909 6.45197 12.9345C6.49555 12.978 6.55109 12.9997 6.61883 12.9997H12.6545C12.7222 12.9997 12.7778 12.978 12.8213 12.9345C12.8648 12.8908 12.8865 12.8355 12.8865 12.7675V11.3747C12.8866 11.3071 12.8648 11.2514 12.8214 11.208Z" fill="white"></path><path d="M6.61883 9.28564H11.2617C11.3294 9.28564 11.385 9.26391 11.4287 9.22044C11.4721 9.17696 11.4938 9.12132 11.4938 9.05368V7.66067C11.4938 7.59303 11.4721 7.53736 11.4287 7.49391C11.385 7.45044 11.3294 7.42871 11.2617 7.42871H6.61883C6.55109 7.42871 6.49552 7.45044 6.45197 7.49391C6.40852 7.53739 6.38672 7.59303 6.38672 7.66067V9.05368C6.38672 9.12132 6.40844 9.17699 6.45197 9.22044C6.49552 9.26391 6.55109 9.28564 6.61883 9.28564Z" fill="white"></path></svg>
										span Мин. депозит
									th
										.t-icon.t-sorting
											<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.61883 5.57102H9.86881C9.93656 5.57102 9.99218 5.5493 10.0356 5.50572C10.0792 5.46219 10.101 5.40662 10.101 5.33886V3.94603C10.101 3.87826 10.0792 3.82269 10.0356 3.77917C9.99218 3.73569 9.93656 3.71387 9.86881 3.71387H6.61883C6.55109 3.71387 6.49552 3.73559 6.45197 3.77917C6.40852 3.82269 6.38672 3.87826 6.38672 3.94603V5.33886C6.38672 5.40662 6.40844 5.46219 6.45197 5.50572C6.49552 5.54922 6.55109 5.57102 6.61883 5.57102Z" fill="white"></path><path d="M6.61883 1.85713H8.47591C8.54365 1.85713 8.5993 1.8354 8.64267 1.79188C8.68632 1.74833 8.70779 1.69276 8.70779 1.62502V0.232138C8.70779 0.164473 8.6863 0.108827 8.64267 0.0652761C8.5993 0.0218264 8.54365 0 8.47591 0H6.61883C6.55109 0 6.49552 0.0217248 6.45197 0.0652507C6.40855 0.108827 6.38672 0.164473 6.38672 0.232112V1.62499C6.38672 1.69273 6.40844 1.7483 6.45197 1.79185C6.49555 1.8353 6.55109 1.85713 6.61883 1.85713Z" fill="white"></path><path d="M4.99395 10.2142H3.6011V0.232138C3.6011 0.164473 3.5794 0.108751 3.53585 0.0652761C3.49229 0.0218264 3.43672 0 3.36896 0H1.97608C1.90842 0 1.85269 0.0217248 1.80922 0.0652507C1.76579 0.108827 1.74397 0.164473 1.74397 0.232112V10.2142H0.35109C0.244778 10.2142 0.17221 10.2625 0.133486 10.3593C0.0947371 10.4513 0.111761 10.5358 0.184228 10.6132L2.50563 12.9347C2.55884 12.9781 2.61441 12.9998 2.67249 12.9998C2.73536 12.9998 2.79103 12.9781 2.83936 12.9347L5.15352 10.6205C5.20195 10.5626 5.22609 10.5044 5.22609 10.4466C5.22609 10.3786 5.20426 10.3232 5.16084 10.2793C5.11731 10.236 5.06174 10.2142 4.99395 10.2142Z" fill="white"></path><path d="M12.8214 11.208C12.7778 11.1643 12.7223 11.1426 12.6545 11.1426H6.61883C6.55109 11.1426 6.49552 11.1643 6.45197 11.208C6.40855 11.2514 6.38672 11.3071 6.38672 11.3747V12.7675C6.38672 12.8355 6.40844 12.8909 6.45197 12.9345C6.49555 12.978 6.55109 12.9997 6.61883 12.9997H12.6545C12.7222 12.9997 12.7778 12.978 12.8213 12.9345C12.8648 12.8908 12.8865 12.8355 12.8865 12.7675V11.3747C12.8866 11.3071 12.8648 11.2514 12.8214 11.208Z" fill="white"></path><path d="M6.61883 9.28564H11.2617C11.3294 9.28564 11.385 9.26391 11.4287 9.22044C11.4721 9.17696 11.4938 9.12132 11.4938 9.05368V7.66067C11.4938 7.59303 11.4721 7.53736 11.4287 7.49391C11.385 7.45044 11.3294 7.42871 11.2617 7.42871H6.61883C6.55109 7.42871 6.49552 7.45044 6.45197 7.49391C6.40852 7.53739 6.38672 7.59303 6.38672 7.66067V9.05368C6.38672 9.12132 6.40844 9.17699 6.45197 9.22044C6.49552 9.26391 6.55109 9.28564 6.61883 9.28564Z" fill="white"></path></svg>
											span Кред. плечо
									th
										.t-icon.t-sorting
											<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.61883 5.57102H9.86881C9.93656 5.57102 9.99218 5.5493 10.0356 5.50572C10.0792 5.46219 10.101 5.40662 10.101 5.33886V3.94603C10.101 3.87826 10.0792 3.82269 10.0356 3.77917C9.99218 3.73569 9.93656 3.71387 9.86881 3.71387H6.61883C6.55109 3.71387 6.49552 3.73559 6.45197 3.77917C6.40852 3.82269 6.38672 3.87826 6.38672 3.94603V5.33886C6.38672 5.40662 6.40844 5.46219 6.45197 5.50572C6.49552 5.54922 6.55109 5.57102 6.61883 5.57102Z" fill="white"></path><path d="M6.61883 1.85713H8.47591C8.54365 1.85713 8.5993 1.8354 8.64267 1.79188C8.68632 1.74833 8.70779 1.69276 8.70779 1.62502V0.232138C8.70779 0.164473 8.6863 0.108827 8.64267 0.0652761C8.5993 0.0218264 8.54365 0 8.47591 0H6.61883C6.55109 0 6.49552 0.0217248 6.45197 0.0652507C6.40855 0.108827 6.38672 0.164473 6.38672 0.232112V1.62499C6.38672 1.69273 6.40844 1.7483 6.45197 1.79185C6.49555 1.8353 6.55109 1.85713 6.61883 1.85713Z" fill="white"></path><path d="M4.99395 10.2142H3.6011V0.232138C3.6011 0.164473 3.5794 0.108751 3.53585 0.0652761C3.49229 0.0218264 3.43672 0 3.36896 0H1.97608C1.90842 0 1.85269 0.0217248 1.80922 0.0652507C1.76579 0.108827 1.74397 0.164473 1.74397 0.232112V10.2142H0.35109C0.244778 10.2142 0.17221 10.2625 0.133486 10.3593C0.0947371 10.4513 0.111761 10.5358 0.184228 10.6132L2.50563 12.9347C2.55884 12.9781 2.61441 12.9998 2.67249 12.9998C2.73536 12.9998 2.79103 12.9781 2.83936 12.9347L5.15352 10.6205C5.20195 10.5626 5.22609 10.5044 5.22609 10.4466C5.22609 10.3786 5.20426 10.3232 5.16084 10.2793C5.11731 10.236 5.06174 10.2142 4.99395 10.2142Z" fill="white"></path><path d="M12.8214 11.208C12.7778 11.1643 12.7223 11.1426 12.6545 11.1426H6.61883C6.55109 11.1426 6.49552 11.1643 6.45197 11.208C6.40855 11.2514 6.38672 11.3071 6.38672 11.3747V12.7675C6.38672 12.8355 6.40844 12.8909 6.45197 12.9345C6.49555 12.978 6.55109 12.9997 6.61883 12.9997H12.6545C12.7222 12.9997 12.7778 12.978 12.8213 12.9345C12.8648 12.8908 12.8865 12.8355 12.8865 12.7675V11.3747C12.8866 11.3071 12.8648 11.2514 12.8214 11.208Z" fill="white"></path><path d="M6.61883 9.28564H11.2617C11.3294 9.28564 11.385 9.26391 11.4287 9.22044C11.4721 9.17696 11.4938 9.12132 11.4938 9.05368V7.66067C11.4938 7.59303 11.4721 7.53736 11.4287 7.49391C11.385 7.45044 11.3294 7.42871 11.2617 7.42871H6.61883C6.55109 7.42871 6.49552 7.45044 6.45197 7.49391C6.40852 7.53739 6.38672 7.59303 6.38672 7.66067V9.05368C6.38672 9.12132 6.40844 9.17699 6.45197 9.22044C6.49552 9.26391 6.55109 9.28564 6.61883 9.28564Z" fill="white"></path></svg>
											span Мин. лот
									th
										.t-icon.t-sorting
											<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.61883 5.57102H9.86881C9.93656 5.57102 9.99218 5.5493 10.0356 5.50572C10.0792 5.46219 10.101 5.40662 10.101 5.33886V3.94603C10.101 3.87826 10.0792 3.82269 10.0356 3.77917C9.99218 3.73569 9.93656 3.71387 9.86881 3.71387H6.61883C6.55109 3.71387 6.49552 3.73559 6.45197 3.77917C6.40852 3.82269 6.38672 3.87826 6.38672 3.94603V5.33886C6.38672 5.40662 6.40844 5.46219 6.45197 5.50572C6.49552 5.54922 6.55109 5.57102 6.61883 5.57102Z" fill="white"></path><path d="M6.61883 1.85713H8.47591C8.54365 1.85713 8.5993 1.8354 8.64267 1.79188C8.68632 1.74833 8.70779 1.69276 8.70779 1.62502V0.232138C8.70779 0.164473 8.6863 0.108827 8.64267 0.0652761C8.5993 0.0218264 8.54365 0 8.47591 0H6.61883C6.55109 0 6.49552 0.0217248 6.45197 0.0652507C6.40855 0.108827 6.38672 0.164473 6.38672 0.232112V1.62499C6.38672 1.69273 6.40844 1.7483 6.45197 1.79185C6.49555 1.8353 6.55109 1.85713 6.61883 1.85713Z" fill="white"></path><path d="M4.99395 10.2142H3.6011V0.232138C3.6011 0.164473 3.5794 0.108751 3.53585 0.0652761C3.49229 0.0218264 3.43672 0 3.36896 0H1.97608C1.90842 0 1.85269 0.0217248 1.80922 0.0652507C1.76579 0.108827 1.74397 0.164473 1.74397 0.232112V10.2142H0.35109C0.244778 10.2142 0.17221 10.2625 0.133486 10.3593C0.0947371 10.4513 0.111761 10.5358 0.184228 10.6132L2.50563 12.9347C2.55884 12.9781 2.61441 12.9998 2.67249 12.9998C2.73536 12.9998 2.79103 12.9781 2.83936 12.9347L5.15352 10.6205C5.20195 10.5626 5.22609 10.5044 5.22609 10.4466C5.22609 10.3786 5.20426 10.3232 5.16084 10.2793C5.11731 10.236 5.06174 10.2142 4.99395 10.2142Z" fill="white"></path><path d="M12.8214 11.208C12.7778 11.1643 12.7223 11.1426 12.6545 11.1426H6.61883C6.55109 11.1426 6.49552 11.1643 6.45197 11.208C6.40855 11.2514 6.38672 11.3071 6.38672 11.3747V12.7675C6.38672 12.8355 6.40844 12.8909 6.45197 12.9345C6.49555 12.978 6.55109 12.9997 6.61883 12.9997H12.6545C12.7222 12.9997 12.7778 12.978 12.8213 12.9345C12.8648 12.8908 12.8865 12.8355 12.8865 12.7675V11.3747C12.8866 11.3071 12.8648 11.2514 12.8214 11.208Z" fill="white"></path><path d="M6.61883 9.28564H11.2617C11.3294 9.28564 11.385 9.26391 11.4287 9.22044C11.4721 9.17696 11.4938 9.12132 11.4938 9.05368V7.66067C11.4938 7.59303 11.4721 7.53736 11.4287 7.49391C11.385 7.45044 11.3294 7.42871 11.2617 7.42871H6.61883C6.55109 7.42871 6.49552 7.45044 6.45197 7.49391C6.40852 7.53739 6.38672 7.59303 6.38672 7.66067V9.05368C6.38672 9.12132 6.40844 9.17699 6.45197 9.22044C6.49552 9.26391 6.55109 9.28564 6.61883 9.28564Z" fill="white"></path></svg>
											span Мин. спред
									th Терминал
									th
						tbody
							mixin tr
								tr
									td
										.t-img
											img(src="_/uploads/instaforex-85x20.png" alt="")
									td 2007
									td FSC
									td $1
									td до 1:1000
									td 0.01
									td от 3 пп
									td MT4, MT5
									td 
										.t-grp.btn-grp
											a.t-open.btn.--lg.--b-white.--radius(href="https://www.instaforex.org/ru/account_types?x=JWVP" target="_blank") открыть счёт
											a.t-link.link(href="broker.html") Обзор и отзывы
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
			.brokers__tab.tabs-item#brokers-options
				.t.--brokers
					table
						thead
							tr
								th Брокер
								th
									.t-icon.t-sorting
										<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.61883 5.57102H9.86881C9.93656 5.57102 9.99218 5.5493 10.0356 5.50572C10.0792 5.46219 10.101 5.40662 10.101 5.33886V3.94603C10.101 3.87826 10.0792 3.82269 10.0356 3.77917C9.99218 3.73569 9.93656 3.71387 9.86881 3.71387H6.61883C6.55109 3.71387 6.49552 3.73559 6.45197 3.77917C6.40852 3.82269 6.38672 3.87826 6.38672 3.94603V5.33886C6.38672 5.40662 6.40844 5.46219 6.45197 5.50572C6.49552 5.54922 6.55109 5.57102 6.61883 5.57102Z" fill="white"></path><path d="M6.61883 1.85713H8.47591C8.54365 1.85713 8.5993 1.8354 8.64267 1.79188C8.68632 1.74833 8.70779 1.69276 8.70779 1.62502V0.232138C8.70779 0.164473 8.6863 0.108827 8.64267 0.0652761C8.5993 0.0218264 8.54365 0 8.47591 0H6.61883C6.55109 0 6.49552 0.0217248 6.45197 0.0652507C6.40855 0.108827 6.38672 0.164473 6.38672 0.232112V1.62499C6.38672 1.69273 6.40844 1.7483 6.45197 1.79185C6.49555 1.8353 6.55109 1.85713 6.61883 1.85713Z" fill="white"></path><path d="M4.99395 10.2142H3.6011V0.232138C3.6011 0.164473 3.5794 0.108751 3.53585 0.0652761C3.49229 0.0218264 3.43672 0 3.36896 0H1.97608C1.90842 0 1.85269 0.0217248 1.80922 0.0652507C1.76579 0.108827 1.74397 0.164473 1.74397 0.232112V10.2142H0.35109C0.244778 10.2142 0.17221 10.2625 0.133486 10.3593C0.0947371 10.4513 0.111761 10.5358 0.184228 10.6132L2.50563 12.9347C2.55884 12.9781 2.61441 12.9998 2.67249 12.9998C2.73536 12.9998 2.79103 12.9781 2.83936 12.9347L5.15352 10.6205C5.20195 10.5626 5.22609 10.5044 5.22609 10.4466C5.22609 10.3786 5.20426 10.3232 5.16084 10.2793C5.11731 10.236 5.06174 10.2142 4.99395 10.2142Z" fill="white"></path><path d="M12.8214 11.208C12.7778 11.1643 12.7223 11.1426 12.6545 11.1426H6.61883C6.55109 11.1426 6.49552 11.1643 6.45197 11.208C6.40855 11.2514 6.38672 11.3071 6.38672 11.3747V12.7675C6.38672 12.8355 6.40844 12.8909 6.45197 12.9345C6.49555 12.978 6.55109 12.9997 6.61883 12.9997H12.6545C12.7222 12.9997 12.7778 12.978 12.8213 12.9345C12.8648 12.8908 12.8865 12.8355 12.8865 12.7675V11.3747C12.8866 11.3071 12.8648 11.2514 12.8214 11.208Z" fill="white"></path><path d="M6.61883 9.28564H11.2617C11.3294 9.28564 11.385 9.26391 11.4287 9.22044C11.4721 9.17696 11.4938 9.12132 11.4938 9.05368V7.66067C11.4938 7.59303 11.4721 7.53736 11.4287 7.49391C11.385 7.45044 11.3294 7.42871 11.2617 7.42871H6.61883C6.55109 7.42871 6.49552 7.45044 6.45197 7.49391C6.40852 7.53739 6.38672 7.59303 6.38672 7.66067V9.05368C6.38672 9.12132 6.40844 9.17699 6.45197 9.22044C6.49552 9.26391 6.55109 9.28564 6.61883 9.28564Z" fill="white"></path></svg>
										span Основан
								th Регулятор
								th
									.t-icon.t-sorting
										<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.61883 5.57102H9.86881C9.93656 5.57102 9.99218 5.5493 10.0356 5.50572C10.0792 5.46219 10.101 5.40662 10.101 5.33886V3.94603C10.101 3.87826 10.0792 3.82269 10.0356 3.77917C9.99218 3.73569 9.93656 3.71387 9.86881 3.71387H6.61883C6.55109 3.71387 6.49552 3.73559 6.45197 3.77917C6.40852 3.82269 6.38672 3.87826 6.38672 3.94603V5.33886C6.38672 5.40662 6.40844 5.46219 6.45197 5.50572C6.49552 5.54922 6.55109 5.57102 6.61883 5.57102Z" fill="white"></path><path d="M6.61883 1.85713H8.47591C8.54365 1.85713 8.5993 1.8354 8.64267 1.79188C8.68632 1.74833 8.70779 1.69276 8.70779 1.62502V0.232138C8.70779 0.164473 8.6863 0.108827 8.64267 0.0652761C8.5993 0.0218264 8.54365 0 8.47591 0H6.61883C6.55109 0 6.49552 0.0217248 6.45197 0.0652507C6.40855 0.108827 6.38672 0.164473 6.38672 0.232112V1.62499C6.38672 1.69273 6.40844 1.7483 6.45197 1.79185C6.49555 1.8353 6.55109 1.85713 6.61883 1.85713Z" fill="white"></path><path d="M4.99395 10.2142H3.6011V0.232138C3.6011 0.164473 3.5794 0.108751 3.53585 0.0652761C3.49229 0.0218264 3.43672 0 3.36896 0H1.97608C1.90842 0 1.85269 0.0217248 1.80922 0.0652507C1.76579 0.108827 1.74397 0.164473 1.74397 0.232112V10.2142H0.35109C0.244778 10.2142 0.17221 10.2625 0.133486 10.3593C0.0947371 10.4513 0.111761 10.5358 0.184228 10.6132L2.50563 12.9347C2.55884 12.9781 2.61441 12.9998 2.67249 12.9998C2.73536 12.9998 2.79103 12.9781 2.83936 12.9347L5.15352 10.6205C5.20195 10.5626 5.22609 10.5044 5.22609 10.4466C5.22609 10.3786 5.20426 10.3232 5.16084 10.2793C5.11731 10.236 5.06174 10.2142 4.99395 10.2142Z" fill="white"></path><path d="M12.8214 11.208C12.7778 11.1643 12.7223 11.1426 12.6545 11.1426H6.61883C6.55109 11.1426 6.49552 11.1643 6.45197 11.208C6.40855 11.2514 6.38672 11.3071 6.38672 11.3747V12.7675C6.38672 12.8355 6.40844 12.8909 6.45197 12.9345C6.49555 12.978 6.55109 12.9997 6.61883 12.9997H12.6545C12.7222 12.9997 12.7778 12.978 12.8213 12.9345C12.8648 12.8908 12.8865 12.8355 12.8865 12.7675V11.3747C12.8866 11.3071 12.8648 11.2514 12.8214 11.208Z" fill="white"></path><path d="M6.61883 9.28564H11.2617C11.3294 9.28564 11.385 9.26391 11.4287 9.22044C11.4721 9.17696 11.4938 9.12132 11.4938 9.05368V7.66067C11.4938 7.59303 11.4721 7.53736 11.4287 7.49391C11.385 7.45044 11.3294 7.42871 11.2617 7.42871H6.61883C6.55109 7.42871 6.49552 7.45044 6.45197 7.49391C6.40852 7.53739 6.38672 7.59303 6.38672 7.66067V9.05368C6.38672 9.12132 6.40844 9.17699 6.45197 9.22044C6.49552 9.26391 6.55109 9.28564 6.61883 9.28564Z" fill="white"></path></svg>
										span Мин. депозит
									th
										.t-icon.t-sorting
											<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.61883 5.57102H9.86881C9.93656 5.57102 9.99218 5.5493 10.0356 5.50572C10.0792 5.46219 10.101 5.40662 10.101 5.33886V3.94603C10.101 3.87826 10.0792 3.82269 10.0356 3.77917C9.99218 3.73569 9.93656 3.71387 9.86881 3.71387H6.61883C6.55109 3.71387 6.49552 3.73559 6.45197 3.77917C6.40852 3.82269 6.38672 3.87826 6.38672 3.94603V5.33886C6.38672 5.40662 6.40844 5.46219 6.45197 5.50572C6.49552 5.54922 6.55109 5.57102 6.61883 5.57102Z" fill="white"></path><path d="M6.61883 1.85713H8.47591C8.54365 1.85713 8.5993 1.8354 8.64267 1.79188C8.68632 1.74833 8.70779 1.69276 8.70779 1.62502V0.232138C8.70779 0.164473 8.6863 0.108827 8.64267 0.0652761C8.5993 0.0218264 8.54365 0 8.47591 0H6.61883C6.55109 0 6.49552 0.0217248 6.45197 0.0652507C6.40855 0.108827 6.38672 0.164473 6.38672 0.232112V1.62499C6.38672 1.69273 6.40844 1.7483 6.45197 1.79185C6.49555 1.8353 6.55109 1.85713 6.61883 1.85713Z" fill="white"></path><path d="M4.99395 10.2142H3.6011V0.232138C3.6011 0.164473 3.5794 0.108751 3.53585 0.0652761C3.49229 0.0218264 3.43672 0 3.36896 0H1.97608C1.90842 0 1.85269 0.0217248 1.80922 0.0652507C1.76579 0.108827 1.74397 0.164473 1.74397 0.232112V10.2142H0.35109C0.244778 10.2142 0.17221 10.2625 0.133486 10.3593C0.0947371 10.4513 0.111761 10.5358 0.184228 10.6132L2.50563 12.9347C2.55884 12.9781 2.61441 12.9998 2.67249 12.9998C2.73536 12.9998 2.79103 12.9781 2.83936 12.9347L5.15352 10.6205C5.20195 10.5626 5.22609 10.5044 5.22609 10.4466C5.22609 10.3786 5.20426 10.3232 5.16084 10.2793C5.11731 10.236 5.06174 10.2142 4.99395 10.2142Z" fill="white"></path><path d="M12.8214 11.208C12.7778 11.1643 12.7223 11.1426 12.6545 11.1426H6.61883C6.55109 11.1426 6.49552 11.1643 6.45197 11.208C6.40855 11.2514 6.38672 11.3071 6.38672 11.3747V12.7675C6.38672 12.8355 6.40844 12.8909 6.45197 12.9345C6.49555 12.978 6.55109 12.9997 6.61883 12.9997H12.6545C12.7222 12.9997 12.7778 12.978 12.8213 12.9345C12.8648 12.8908 12.8865 12.8355 12.8865 12.7675V11.3747C12.8866 11.3071 12.8648 11.2514 12.8214 11.208Z" fill="white"></path><path d="M6.61883 9.28564H11.2617C11.3294 9.28564 11.385 9.26391 11.4287 9.22044C11.4721 9.17696 11.4938 9.12132 11.4938 9.05368V7.66067C11.4938 7.59303 11.4721 7.53736 11.4287 7.49391C11.385 7.45044 11.3294 7.42871 11.2617 7.42871H6.61883C6.55109 7.42871 6.49552 7.45044 6.45197 7.49391C6.40852 7.53739 6.38672 7.59303 6.38672 7.66067V9.05368C6.38672 9.12132 6.40844 9.17699 6.45197 9.22044C6.49552 9.26391 6.55109 9.28564 6.61883 9.28564Z" fill="white"></path></svg>
											span Ставка
									th
										.t-icon.t-sorting
											<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.61883 5.57102H9.86881C9.93656 5.57102 9.99218 5.5493 10.0356 5.50572C10.0792 5.46219 10.101 5.40662 10.101 5.33886V3.94603C10.101 3.87826 10.0792 3.82269 10.0356 3.77917C9.99218 3.73569 9.93656 3.71387 9.86881 3.71387H6.61883C6.55109 3.71387 6.49552 3.73559 6.45197 3.77917C6.40852 3.82269 6.38672 3.87826 6.38672 3.94603V5.33886C6.38672 5.40662 6.40844 5.46219 6.45197 5.50572C6.49552 5.54922 6.55109 5.57102 6.61883 5.57102Z" fill="white"></path><path d="M6.61883 1.85713H8.47591C8.54365 1.85713 8.5993 1.8354 8.64267 1.79188C8.68632 1.74833 8.70779 1.69276 8.70779 1.62502V0.232138C8.70779 0.164473 8.6863 0.108827 8.64267 0.0652761C8.5993 0.0218264 8.54365 0 8.47591 0H6.61883C6.55109 0 6.49552 0.0217248 6.45197 0.0652507C6.40855 0.108827 6.38672 0.164473 6.38672 0.232112V1.62499C6.38672 1.69273 6.40844 1.7483 6.45197 1.79185C6.49555 1.8353 6.55109 1.85713 6.61883 1.85713Z" fill="white"></path><path d="M4.99395 10.2142H3.6011V0.232138C3.6011 0.164473 3.5794 0.108751 3.53585 0.0652761C3.49229 0.0218264 3.43672 0 3.36896 0H1.97608C1.90842 0 1.85269 0.0217248 1.80922 0.0652507C1.76579 0.108827 1.74397 0.164473 1.74397 0.232112V10.2142H0.35109C0.244778 10.2142 0.17221 10.2625 0.133486 10.3593C0.0947371 10.4513 0.111761 10.5358 0.184228 10.6132L2.50563 12.9347C2.55884 12.9781 2.61441 12.9998 2.67249 12.9998C2.73536 12.9998 2.79103 12.9781 2.83936 12.9347L5.15352 10.6205C5.20195 10.5626 5.22609 10.5044 5.22609 10.4466C5.22609 10.3786 5.20426 10.3232 5.16084 10.2793C5.11731 10.236 5.06174 10.2142 4.99395 10.2142Z" fill="white"></path><path d="M12.8214 11.208C12.7778 11.1643 12.7223 11.1426 12.6545 11.1426H6.61883C6.55109 11.1426 6.49552 11.1643 6.45197 11.208C6.40855 11.2514 6.38672 11.3071 6.38672 11.3747V12.7675C6.38672 12.8355 6.40844 12.8909 6.45197 12.9345C6.49555 12.978 6.55109 12.9997 6.61883 12.9997H12.6545C12.7222 12.9997 12.7778 12.978 12.8213 12.9345C12.8648 12.8908 12.8865 12.8355 12.8865 12.7675V11.3747C12.8866 11.3071 12.8648 11.2514 12.8214 11.208Z" fill="white"></path><path d="M6.61883 9.28564H11.2617C11.3294 9.28564 11.385 9.26391 11.4287 9.22044C11.4721 9.17696 11.4938 9.12132 11.4938 9.05368V7.66067C11.4938 7.59303 11.4721 7.53736 11.4287 7.49391C11.385 7.45044 11.3294 7.42871 11.2617 7.42871H6.61883C6.55109 7.42871 6.49552 7.45044 6.45197 7.49391C6.40852 7.53739 6.38672 7.59303 6.38672 7.66067V9.05368C6.38672 9.12132 6.40844 9.17699 6.45197 9.22044C6.49552 9.26391 6.55109 9.28564 6.61883 9.28564Z" fill="white"></path></svg>
											span Доход
									th
						tbody
							mixin tr
								tr
									td
										.t-img
											img(src="_/uploads/instaforex-85x20.png" alt="")
									td 2007
									td FSC
									td $1
									td 1 USD
									td 85 %
									td 
										.t-grp.btn-grp
											a.t-open.btn.--lg.--b-white.--radius(href="https://www.instaforex.org/ru/account_types?x=JWVP" target="_blank") открыть счёт
											a.t-link.link(href="broker.html") Основы торговли
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr

			.brokers__tab.tabs-item#brokers-crypto
				.t.--brokers
					table
						thead
							tr
								th Криптобиржа
								th
									.t-icon.t-sorting
										<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.61883 5.57102H9.86881C9.93656 5.57102 9.99218 5.5493 10.0356 5.50572C10.0792 5.46219 10.101 5.40662 10.101 5.33886V3.94603C10.101 3.87826 10.0792 3.82269 10.0356 3.77917C9.99218 3.73569 9.93656 3.71387 9.86881 3.71387H6.61883C6.55109 3.71387 6.49552 3.73559 6.45197 3.77917C6.40852 3.82269 6.38672 3.87826 6.38672 3.94603V5.33886C6.38672 5.40662 6.40844 5.46219 6.45197 5.50572C6.49552 5.54922 6.55109 5.57102 6.61883 5.57102Z" fill="white"></path><path d="M6.61883 1.85713H8.47591C8.54365 1.85713 8.5993 1.8354 8.64267 1.79188C8.68632 1.74833 8.70779 1.69276 8.70779 1.62502V0.232138C8.70779 0.164473 8.6863 0.108827 8.64267 0.0652761C8.5993 0.0218264 8.54365 0 8.47591 0H6.61883C6.55109 0 6.49552 0.0217248 6.45197 0.0652507C6.40855 0.108827 6.38672 0.164473 6.38672 0.232112V1.62499C6.38672 1.69273 6.40844 1.7483 6.45197 1.79185C6.49555 1.8353 6.55109 1.85713 6.61883 1.85713Z" fill="white"></path><path d="M4.99395 10.2142H3.6011V0.232138C3.6011 0.164473 3.5794 0.108751 3.53585 0.0652761C3.49229 0.0218264 3.43672 0 3.36896 0H1.97608C1.90842 0 1.85269 0.0217248 1.80922 0.0652507C1.76579 0.108827 1.74397 0.164473 1.74397 0.232112V10.2142H0.35109C0.244778 10.2142 0.17221 10.2625 0.133486 10.3593C0.0947371 10.4513 0.111761 10.5358 0.184228 10.6132L2.50563 12.9347C2.55884 12.9781 2.61441 12.9998 2.67249 12.9998C2.73536 12.9998 2.79103 12.9781 2.83936 12.9347L5.15352 10.6205C5.20195 10.5626 5.22609 10.5044 5.22609 10.4466C5.22609 10.3786 5.20426 10.3232 5.16084 10.2793C5.11731 10.236 5.06174 10.2142 4.99395 10.2142Z" fill="white"></path><path d="M12.8214 11.208C12.7778 11.1643 12.7223 11.1426 12.6545 11.1426H6.61883C6.55109 11.1426 6.49552 11.1643 6.45197 11.208C6.40855 11.2514 6.38672 11.3071 6.38672 11.3747V12.7675C6.38672 12.8355 6.40844 12.8909 6.45197 12.9345C6.49555 12.978 6.55109 12.9997 6.61883 12.9997H12.6545C12.7222 12.9997 12.7778 12.978 12.8213 12.9345C12.8648 12.8908 12.8865 12.8355 12.8865 12.7675V11.3747C12.8866 11.3071 12.8648 11.2514 12.8214 11.208Z" fill="white"></path><path d="M6.61883 9.28564H11.2617C11.3294 9.28564 11.385 9.26391 11.4287 9.22044C11.4721 9.17696 11.4938 9.12132 11.4938 9.05368V7.66067C11.4938 7.59303 11.4721 7.53736 11.4287 7.49391C11.385 7.45044 11.3294 7.42871 11.2617 7.42871H6.61883C6.55109 7.42871 6.49552 7.45044 6.45197 7.49391C6.40852 7.53739 6.38672 7.59303 6.38672 7.66067V9.05368C6.38672 9.12132 6.40844 9.17699 6.45197 9.22044C6.49552 9.26391 6.55109 9.28564 6.61883 9.28564Z" fill="white"></path></svg>
										span Основана
								th Объем/День
								th Кол-во. Пар
								th Торг.Комиссия
								th ФИАТ
								th
						tbody
							mixin tr
								tr
									td
										.t-img
											img(src="_/uploads/instaforex-85x20.png" alt="")
									td 2007
									td 5173.2527 BTC
									td 213
									td 0.18 %
									td Есть
									td 
										.t-grp.btn-grp
											a.t-open.btn.--lg.--b-white.--radius(href="https://www.instaforex.org/ru/account_types?x=JWVP" target="_blank") открыть счёт
											a.t-link.link(href="broker.html") Основы торговли
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
		else
			.brokers__tab.tabs-item#brokers-forex
				.t.--brokers
					table
						thead
							tr
								th брокер
								th Основан
								th Регулятор
								th Мин. депозит
								th Кред. плечо
								th Мин. лот
								th Мин. спред
								th терминал
								th
						tbody
							mixin tr
								tr
									td
										.t-img
											img(src="_/uploads/instaforex-85x20.png" alt="")
									td 2007
									td FSC
									td $1
									td до 1:1000
									td 0.01
									td от 3 пп
									td MT4, MT5
									td 
										.t-grp.btn-grp
											a.t-link.link(href="rebate.html")  Расчет рибейта
											a.t-open.btn.--lg.--b-white.--radius(href="https://www.instaforex.org/ru/account_types?x=JWVP" target="_blank") открыть счёт
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr
							+tr