include ../../sys/pug/vars

.contact-us
	.contact-us__wrap
		.contact-us__title.h1 #[h1 Свяжитесь с нами]
		.contact-us__text.t1
			p Мы не понаслышке знаем, что такое трейдинг и, если честно, сами приторговываем. К примеру, не перезагружаем сервер в разгар торговой недели. Наши VPS используются только для торговли на Форекс. Русскоязычная поддержка, которая съела собаку на Форекс, поможет установить советник, расскажет о тонкостях работы с VPS, выслушает о тягостях трейдерской жизни, даст дельный совет. Мы непрерывно бдим за работой серверов, чтобы Вы спали спокойно. Связаться с нами можно через: почту, чат, телефон.
		a.contact-us__write.btn.--lg.--b-white.--radius(href="") написать нам
	
		