extends ../../templates/default
block vars
	-
		title = "Все о Форекс"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.page.bg-wrap
		.case
			.page__head
				+breadcrumbs()
			.page__body.--sm
				.page__title.h1 Обучающий форекс-курс. Рабочие торговые стратегии
				.page__text.--mb-sm.t1
					p Что такое валютная биржа? Можно ли заработать на Форекс? Правда ли, что все брокеры — мошенники? Сколько нужно денег? Если ты ищешь ответы на эти вопросы, то, первое, ты новичок на Форекс, и, второе, ты попал по адресу. Форекс — это международная валютная биржа, где у каждого есть шанс заработать на разнице курсов валют. Для того, чтобы начать торги, не нужно много денег, можно начать торговлю с $10 на центовом счете, а для Форекс новичка лучше и вовсе торговать на демо-счете. Это, конечно, не так весело, как торговать на реале, но и биржа — не парк аттракционов, чтобы веселиться. Один из самых острых вопросов для каждого трейдера — это какого брокера выбрать в качестве посредника между рынком. Скажем сразу, есть такие компании, где даже демо-счет открывать страшно. Такие компании трейдеры прозвали кухнями. Ну что же, если после прочтения вышесказанного в голове образовалась каша, но желание зарабатывать на Форекс не убавилось, тогда — добро пожаловать! В данном разделе Форекс для новичков ты найдешь ответы на самые злободневные темы для любого трейдера.
				+style('course', 'blocks')
				include ../../blocks/course/course

		.page__bg-20.bg
			img(src="_/uploads/scheme-edu-1.png" alt="")