include ../../sys/pug/vars
	
.questions(class=questionsMode)
	.case
		if questionsTitle
			.questions__title.h2= questionsTitle
		.questions__list
			.questions__item.tog
				.questions__head.h5.tog-head
					span Как получить скидку (промокод/скидки при оплате)?
				.questions__body.t1.tog-body
					p Можно получить промокод на скидку 20% при аренде VPS на 1 месяц, обратившись на почту #[br] #[a(href="mailto:support.clients@govpsfx.com") support.clients@govpsfx.com]. Также Вы можете получить квартальную скидку при оплате:
					ul
						li 3-х месяцев 5%
						li 6-х месяцев 10%
						li 9-х месяцев 15%
						li 12-х месяцев 20%
			.questions__item.tog
				.questions__head.h5.tog-head
					span Как подключить счет к рибейт-сервису?
				.questions__body.t1.tog-body
					p Для подключения торгового счета к рибейт-сервису необходимо арендовать VPS-сервер (срок аренды значения не имеет). Количество счетов для подключения к сервису по возврату спреда не ограничено.
					ul
						li Откройте торговый счет у одного из брокеров из нашего #[a(href="/rebate-service/" rel="noopener noreferrer" target="_blank") списка компаний]. Если у вас уже имеется торговый счет, то подайте заявку на подключение счета через специальную форму в личном кабинете в разделе #[a(href="//my.govpsfx.com/rebate/get-rebate" target="_blank" rel="noopener noreferrer") "Рибейт"].
						li В заявке укажите номер счета и брокера. Отследить статус вашей заявки можно в разделе личного кабинета "Рибейт".
						li После рассмотрения заявки на подключение счета на вашу электронную почту придет письмо с ответом. Для подключения нового счета к рибейт-сервису подайте новую заявку через раздел #[a(href="//my.govpsfx.com/rebate/get-rebate" target="_blank" rel="noopener noreferrer") "Рибейт"] аналогичным образом
			.questions__item.tog
				.questions__head.h5.tog-head
					span У Вас есть тестовый период?
				.questions__body.t1.tog-body
					p Да, есть. Продолжительность тестового периода составляет 3 рабочих дня, в течение которых вы можете установить на VPS торговый терминал, проверить пинг до торговых серверов своего брокера и совершить торговые операции как самостоятельно, так и с помощью торгового советника. Заявка на тестовый период подается через личный кабинет.
			.questions__item.tog
				.questions__head.h5.tog-head
					span Где расположены Ваши платные VPS-серверы?
				.questions__body.t1.tog-body
					p На данный момент мы предоставляем VPS расположенные в Нидерландах и Франции.
