extends ../../templates/default
block vars
	-
		title = "Лучший бесплатный VPS сервер для Форекс — Free VPS Server Forex бесплатно! Надежный полностью бесплатный впс сервер для Форекс"
		breadcrumbs = [
			['Главная', 'index.html'],
			['Брокеры']
		]
block content
	.page.bg-wrap
		.case
			.page__head
				+breadcrumbs()
			.page__body
				.page__title.h1 Рейтинг форекс брокеров
				.page__text.t1
					p Рейтинг форекс брокеров выстроен по принципу наибольшей популярности того или иного форекс брокера среди пользователей нашего ресурса. Главная цель нашего рейтинга форекс брокеров - ознакомить посетителей сайта с наиболее востребованными на данный момент компаниями в отечественной форекс индустрии. Мы не претендуем на звание самого справедливого рейтинга брокеров и рекомендуем каждому трейдеру всегда выбирать брокера после собственного тщательного анализа, никто не позаботится о вашем депозите лучше вас самого. Если не нашли необходимого форекс брокера в списке, свяжитесь с нами, и мы его добавим. Для тех, кто не может определиться с выбором форекс брокера, в конце рейтинга находится специальный мини-тест, пройдя который, вы получите список компаний, подходящий под ваши требования.

				+style('brokers', 'blocks')
				include ../../blocks/brokers/brokers
				+script('brokers', 'blocks')

				-
					needHelpTitle = 'Не можете определиться с брокером?'
					needHelpLinks = [
						['Как выбрать хорошего брокера?  →', ''],
						['Как выбрать хорошего брокера?  →', ''],
					]
				+style('need-help', 'blocks')
				include ../../blocks/need-help/need-help
				
		.page__bg-4.bg
			img(src="_/uploads/scheme-brokers-1.png" alt="")

		.page__bg-5.bg
			img(src="_/uploads/scheme-brokers-2.png" alt="")

		.page__bg-6.bg
			img(src="_/uploads/scheme-brokers-3.png" alt="")