include ../../sys/pug/vars

.page404
	.case
		.page404__wrap
			.page404__title.c-yellow 404
			.page404__desc.h4 Такой страницы не существует
			a.page404__btn.btn.--bg-yellow.--sm.--bb.--radius(href="index.html")  На главную →
			.page404__dots
				img(src="_/uploads/dots.png", alt="")
			