include ../../sys/pug/vars

.test.bg-wrap
	.case
		.test__wrap.row
			.test__content
				.test__title.h5 Тест-драйв сервера
				.test__text.t1
					p Всем новым клиентам GoVPSFX доступен тестовый период, рассчитанный для оценки качества оказываемой нами услуги. Продолжительность тестового периода составляет 3 рабочих дня, в течение которых вы можете установить на VPS торговый терминал, проверить пинг до торговых серверов своего брокера и совершить торговые операции как самостоятельно, так и с помощью торгового советника. Заявка на тестовый период подается из личного кабинета.

				a.test__btn.btn.--sm.--bg-yellow.--bb.--radius(href="https://my.govpsfx.com/vps-pay-account/get-vps" target="_blank") личный кабинет
			.test__img-wrap
				.test__img
					img(src="_/uploads/test-img.png" alt="")
	.test__bg-1.bg
		img(src="_/uploads/scheme-test-1.png" alt="")
	.test__bg-2.bg
		img(src="_/uploads/scheme-test-2.png" alt="")