extends ../../templates/default
block vars
	-
		title = "Партнерская программа"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.page.bg-wrap
		.case
			.page__head
				+breadcrumbs()
			.page__body.--sm
				.page__title.h1 Партнерские программы от GoVPSFX
				.page__text.--mb-md.t1
					p В данном разделе вы сможете выбрать для себя подходящую партнерскую программу. У нас доступна как классическая партнерская программа для всех желающих с выплатой 15% с каждого платежа клиента, так и более специализированная для продавцов и разработчиков торговых советников, по которой мы предоставляем комплексное техническое решение под ключ, которое включает в себя Back-офис, личный кабинет трейдера, многоуровневую партнерку, аренду VPS-серверов и т.д. Если же вы представитель брокерской компании, то у нас есть предложение и для вас. В кратчайшие сроки на базе вашего личного кабинета мы можем развернуть услугу по аренде VPS-серверов для ваших клиентов посредством API технологии.
				
				-
					blinks = [
						[
							'.html', 
							'Классическая партнерка CPS', 
							'Платим 15% с каждого платежа привлеченного клиента. Данная партнерка доступна всем клиентам.'
						],
						[
							'.html', 
							'Программа White Label', 
							'Комплексное решение для продавцов и разработчиков торговых роботов. Ваш бренд - наши технологии.'
						],
						[
							'.html', 
							'Программа реселлинга', 
							'Хотите сдавать в аренду своим клиента VPS-серверы, тогда наш API – это именно то, что вам нужно.'
						],
					]
				+style('b-links', 'blocks')
				include ../../blocks/b-links/b-links


		.page__bg-26.bg
			img(src="_/uploads/scheme-partners-1.png" alt="")