include ../../sys/pug/vars

.broker__pm.pm.bg-wrap
	.case.--sm
		.pm__title.h4 ПРЕИМУЩЕСТВА И НЕДОСТАТКИ КОМПАНИИ
		.pm__list
			.pm__item
				.pm__icon +
				.pm__text.t1
					p К плюсам компании Инстрафорекс можно отнести большое количество лицензий, полученных в разных странах. Это гарантирует отсутствие обмана со стороны администрации. А также большой выбор счетов с возможностью внести любую сумму на стартовый депозит начиная с 1 доллара.

			.pm__item
				.pm__icon -
				.pm__text.t1
					p К недостаткам брокера некоторые трейдеры относят высокие спреды в сравнении с другими предложениями на рынке.
	.pm__bg-1.bg
		img(src="_/uploads/scheme-pm-1.png" alt="")
	.pm__bg-2.bg
		img(src="_/uploads/scheme-pm-2.png" alt="")