.range {
  box-shadow: none;
  height: 3px;
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
}
.range .noUi-connect {
  background: #ffb800;
}
.range .noUi-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background: #ffb800;
  outline: none;
  box-shadow: none;
  border-radius: 50%;
  border: none;
  right: -8px;
}
.range .noUi-handle:before {
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #d28b00;
  transform: translate(-50%, -50%);
}
.range .noUi-handle:after {
  display: none;
}
.range .noUi-tooltip {
  color: #ffb800;
  background-color: transparent;
  border: none;
  font-size: 10px;
  line-height: 13px;
  font-weight: 600;
  padding-bottom: 2px;
}
.range .noUi-marker {
  display: none;
}
.range .noUi-value {
  font-size: 10px;
  color: #fff;
  font-weight: 600;
  top: -34px;
  transition: 0.3s;
}
.range .noUi-value:nth-of-type(2) {
  transform: translate(0, 50%);
}
.range .noUi-value:nth-of-type(4) {
  transform: translate(-100%, 50%);
}
.range .noUi-value.--hidden {
  opacity: 0;
}
.range .noUi-pips-horizontal {
  height: auto;
  padding: 0;
}