include ../../sys/pug/vars

.search-list
	.search-list__list
		.search-list__item
			.search-list__name Еженедельная форекс-аналитика и прогноз цен: BTCUSD, S&P500, DAX30
			.search-list__text Форекс-аналитика: BTCUSD, S&P500, DAX30 Форекс-аналитика: технический анализ BTCUSD Предлагаем вашему вниманию технический анализ BTCUSD и прогноз движения на текущую торговую неделю с 22 по 26 марта. Форекс индикатор ADX, который указывает на силу тренда, на дневном графике демонстрирует значение 34.7, что указывает на сильный восходящий тренд по биткоину. Форекс индикатор RSI де...
			.search-list__link.link #[a(href="") ПОДРОБНЕЕ →]
		.search-list__item
			.search-list__name Еженедельная форекс-аналитика и прогноз цен: BTCUSD, S&P500, DAX30
			.search-list__text Форекс-аналитика: BTCUSD, S&P500, DAX30 Форекс-аналитика: технический анализ BTCUSD Предлагаем вашему вниманию технический анализ BTCUSD и прогноз движения на текущую торговую неделю с 22 по 26 марта. Форекс индикатор ADX, который указывает на силу тренда, на дневном графике демонстрирует значение 34.7, что указывает на сильный восходящий тренд по биткоину. Форекс индикатор RSI де...
			.search-list__link.link #[a(href="") ПОДРОБНЕЕ →]
		.search-list__item
			.search-list__name Еженедельная форекс-аналитика и прогноз цен: BTCUSD, S&P500, DAX30
			.search-list__text Форекс-аналитика: BTCUSD, S&P500, DAX30 Форекс-аналитика: технический анализ BTCUSD Предлагаем вашему вниманию технический анализ BTCUSD и прогноз движения на текущую торговую неделю с 22 по 26 марта. Форекс индикатор ADX, который указывает на силу тренда, на дневном графике демонстрирует значение 34.7, что указывает на сильный восходящий тренд по биткоину. Форекс индикатор RSI де...
			.search-list__link.link #[a(href="") ПОДРОБНЕЕ →]
		.search-list__item
			.search-list__name Еженедельная форекс-аналитика и прогноз цен: BTCUSD, S&P500, DAX30
			.search-list__text Форекс-аналитика: BTCUSD, S&P500, DAX30 Форекс-аналитика: технический анализ BTCUSD Предлагаем вашему вниманию технический анализ BTCUSD и прогноз движения на текущую торговую неделю с 22 по 26 марта. Форекс индикатор ADX, который указывает на силу тренда, на дневном графике демонстрирует значение 34.7, что указывает на сильный восходящий тренд по биткоину. Форекс индикатор RSI де...
			.search-list__link.link #[a(href="") ПОДРОБНЕЕ →]
		.search-list__item
			.search-list__name Еженедельная форекс-аналитика и прогноз цен: BTCUSD, S&P500, DAX30
			.search-list__text Форекс-аналитика: BTCUSD, S&P500, DAX30 Форекс-аналитика: технический анализ BTCUSD Предлагаем вашему вниманию технический анализ BTCUSD и прогноз движения на текущую торговую неделю с 22 по 26 марта. Форекс индикатор ADX, который указывает на силу тренда, на дневном графике демонстрирует значение 34.7, что указывает на сильный восходящий тренд по биткоину. Форекс индикатор RSI де...
			.search-list__link.link #[a(href="") ПОДРОБНЕЕ →]

	.search-list__controls.row
		.search-list__control #[a(href="") ← Предыдущая страница]
		.search-list__control #[a(href="") Следующая страница →]
