.props {
  align-items: center;
  padding: 50px 44px;
  background-color: #161819;
  max-width: 815px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.props__list {
  width: 480px;
  margin-bottom: -20px;
}
.props__item {
  display: flex;
  font-size: 14px;
  align-items: flex-start;
  margin-bottom: 20px;
}
.props__name {
  min-width: 50%;
  color: #7c7d7e;
  text-transform: uppercase;
  padding-right: 10px;
}
.props__value {
  min-width: 50%;
  font-size: 16px;
}
.props__value ul li:after {
  content: ", ";
  margin-right: 6px;
}
.props__value ul li:last-of-type:after {
  display: none;
}
.props__value ul a {
  font-weight: 400;
}
.props__img {
  width: calc(100% - 480px);
  padding-left: 70px;
}