.incdec {
  display: flex;
  align-items: center;
  width: 160px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ffb800;
}
.incdec__btn {
  width: 46px;
  height: 44px;
  font-size: 18px;
  font-weight: 700;
  color: #1e2022;
  background-color: #ffb800;
}
.incdec__btn:hover {
  background-color: #ffd600;
}
.incdec__input {
  display: block;
  width: 68px;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0 10px;
  background-color: transparent;
}