extends ../../templates/default
block vars
	-
		title = "Лучший бесплатный VPS сервер для Форекс — Free VPS Server Forex бесплатно! Надежный полностью бесплатный впс сервер для Форекс"
		breadcrumbs = [
			['Главная', 'index.html'],
			['РИБЕЙТ СЕРВИС']
		]
block content
	.page.bg-wrap
		.case
			.page__head
				+breadcrumbs()
			.page__body
				.page__title.h1 Форекс рибейт-сервис - возврат части спреда
				.page__text.t1
					p Форекс рибейт или возврат спреда является популярной услугой, которую предоставляют как различные онлайн-ресурсы, так и сами брокеры. Давайте разберем на примере нашего рибейт-сервиса, как происходит возврат спреда. Итак, трейдер открывает торговый счет у любого брокера из списка на нашем сайте GoVPSFX, и как только он начнет торговать, брокер начисляет нам партнерское вознаграждение (часть спреда), причем совершенно не важно, была сделка закрыта с профитом или убытком. С полученной таким путем прибыли мы выплачиваем трейдеру 90%, оставляя себе 10%. К примеру, трейдер открыл торговый счет у одного из брокеров, используя нашу партнерскую ссылку (код партнера), и совершил за неделю сделок общим объемом 10 стандартных лот по валютной паре EURUSD, по условиям партнёрской программы брокер выплатил GoVPSFX $150, из которых $135 мы вернули трейдеру на торговый счет или на один из его электронных кошельков. Таким образом, трейдер, не прилагая дополнительных усилий, получил дополнительный доход в $135 всего за один день.

				- rebate = true
				+style('brokers', 'blocks')
				include ../../blocks/brokers/brokers
				+script('brokers', 'blocks')

				-
					needHelpTitle = 'Не можете определиться с брокером?'
					needHelpLinks = [
						['Как выбрать хорошего брокера?  →', ''],
						['Как открыть счет на Форекс и какой выбрать тип счета  →', ''],
					]
				+style('need-help', 'blocks')
				include ../../blocks/need-help/need-help
				
		.page__bg-4.bg
			img(src="_/uploads/scheme-brokers-1.png" alt="")

		.page__bg-5.bg
			img(src="_/uploads/scheme-brokers-2.png" alt="")

		.page__bg-6.bg
			img(src="_/uploads/scheme-brokers-3.png" alt="")