extends ../../templates/default
block vars
	-
		title = "Акция VPS-сервер на тест-сервер"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.page.bg-wrap
		.case
			.page__head
				+breadcrumbs()
			.page__body.--sm
				.page__text.--mb-sm.t1
					h1 Акция VPS-сервер для Форекс на тест-драйв
					p Комбо-предложение: бонус 75 USD на счет от #[a(href="") NPBFX] + бесплатный VPS-сервер от GoVPSFX с возможностью установки до 6 торговых терминалов + торговый робот на выбор из нашей коллекции, насчитывающей более 70 форекс-советников. Собери свое Форекс-Комбо!
					h2 Условия получения бонуса и вывода прибыли:
					ul
						li Откройте счет в компании #[a(href="") NPBFX] (тип счета — Master), ОБЯЗАТЕЛЬНО через данную #[a(href="") ССЫЛКУ].
						li Пройдите полную верификацию своего аккаунта в #[a(href="") NPBFX], загрузив необходимые документы.
						li Пополните торговый счет на сумму не менее 75 USD.
						li Подайте заявку на получение форекс-бонуса, воспользовавшись специальной формой (находится в конце статьи).
						li Прибыль от торговых операций с участием форекс-бонуса может быть снята без ограничений (т.е. бонус не списывается при выводе наторгованной прибыли).
						li Бонус списывается пропорционально сумме снятия депозита (т.е. собственных заведённых средств). Например, сумма бонуса 75 USD, а сумма заведённых средств (т.е. депозит) 100 USD. При выводе 50 USD (50% от депозита) бонус также будет списан на 50% (т.е. на 37,5 USD).
						li Как собственные, так и бонусные средства могут быть использованы клиентом в торговле без каких-либо ограничений. При этом бонусные средства выдерживают «просадку», то есть не будут списаны со счёта при уменьшении его Эквити ниже уровня средств бонуса, вплоть до момента наступления события Stop Out.
					h2 Условия получения бесплатного VPS-сервера:
					ul
						li Зарегистрируйтесь на сайте, форма регистрации #[a(href="") здесь].
						li Подайте заявку на получение бесплатного VPS через свой #[a(href="") личный кабинет].
						li В заявке на получение сервера нужно указать номер счета, на который был получен бонус 75 USD от #[a(href="") NPBFX].
						li В течение дня на вашу почту придут данные для доступа на VPS-сервер.
						li В случае если уже есть VPS, то подавать заявку на получение бесплатного сервера не обязательно. К примеру, вы можете получить только бонус и торговый робот.
					img(src="_/uploads/memes/item-2.jpg", alt="")
					h2 Условия получения торгового советника:
					ul
						li Перейдите в раздел #[a(href="") «Советники»], в данном разделе вы найдете как обзоры торговых советников, так и мониторинги реальных счетов.
						li Выберите понравившийся советник и подайте заявку на бесплатное получение.
						li В заявке на получение советника нужно указать номер счета, на который был получен бонус 75 USD от #[a(href="") NPBFX].
						li В случае если у вас есть свой форекс-советник, то подавать заявку на получение советника из нашего списка не обязательно. К примеру, вы можете получить только бонус и бесплатный VPS-сервер.
					h2 Почему акция так популярна среди наших клиентов?
					p Что нужно для грамотного тестирования приглянувшегося форекс-советника? В первую очередь, необходимо, чтобы ваш форекс-робот торговал в реальных рыночных условиях, т.е. на реальном торговом счете с реальными деньгами. Во вторых, необходимо создать надежную техническую среду для корректной работы торгового форекс-робота, т.е. торговать советник должен через надежный VPS-сервер. Что такое VPS и для чего он нужен трейдеру, можно узнать #[a(href="") здесь].
					p Отвечает ли этим требованиям тестирование советника в домашних условиях на демо-счете? Правильно, НЕТ. Демо-счет не отражает реальных рыночных условий (проскальзывание, не рыночные котировки и т.д.), а домашний компьютер не может обеспечить бесперебойную работу в течение 24 часов на протяжении всего периода тестирования форекс-советника, который может длиться нескольких месяцев. В итоге после такого кустарного тестирования, мы получаем некорректные данные, на основе которых принимаем решение поставить торговый робот на реальный счет, что приводит к его частичной или полной потере.
					p Воспользовавшись нашим предложением, вы не только сможете провести грамотный тест форекс-робота, но и вывести полученную прибыль при положительном исходе, без ограничений и дополнительных условий по отработке лот.
				
				- getBonuseTitle = 'Подать заявку на участие:'
				+style('get-bonus', 'blocks')
				include ../../blocks/get-bonus/get-bonus
	