include ../../sys/pug/vars

.intro.bg-wrap
	.case
		.intro__wrap
			.intro__content
				.intro__title.h1 #[h1 Бесплатный VPS для Forex]
				.intro__text.t1 Торгуйте из любой точки мира, с любого устройства, #[br]в любое время суток, с русскоязычной поддержкой 24/7
				.intro__grp.btn-grp
					a.intro__btn.btn.--lg.--bg-yellow.--bb.--radius(href="https://my.govpsfx.com/registration" target="_blank") получить бесплатный vps
					a.intro__link.link(href="true-free-vps.html") почему бесплатно ?
			.intro__img-wrap
				.intro__img
					img(src="_/uploads/intro.png" alt="")
				.intro__ellipse
					img(src="_/uploads/intro-ellipse.png" alt="")
	.intro__scheme-1.bg
		img(src="_/uploads/scheme-3.png" alt="")
	.intro__scheme-2.bg
		img(src="_/uploads/scheme-4.png" alt="")