include ../../sys/pug/vars

.ping.bg-wrap
	.case
		.ping__title.h2.tac #[h2 Узнать PING до вашего брокера]
		.ping__select.select.--md.--b-yellow
			select(name="ping")
				option(value="14326") InstaForex
				option(value="14478") Alpari
				option(value="14479") RoboForex
				option(value="14317") Forex4you
				option(value="14483") A-Markets
				option(value="14517") NPBFX
				option(value="14484") Weltrade
				option(value="14486") Tickmill
				option(value="14485") Exness
				option(value="24047") Eightcap
				option(value="14487") Forex Club
				option(value="14511") IC Markets
				option(value="14508") FxPro
				option(value="14507") FiboGroup
				option(value="19802") ftm brokers
				option(value="14506") FortFS
				option(value="18734") Альфа-Форекс
				option(value="14496") Pepperstone
				option(value="22866") FinmaxFX
				option(value="14494") WorldForex
				option(value="14488") Forex Chief
				option(value="14490") FreshForex
				option(value="14514") Fxopen
				option(value="14512") XM Global Limited
				option(value="17133") BCS forex
				option(value="14523") Gerchik &amp; Co
				option(value="14515") Admiral Markets
				option(value="14513") STForex
				option(value="14495") Finam
				option(value="14518") NordFX
				option(value="14519") JustForex
				option(value="14504") GrandCapital
				option(value="15696") GKFX
				option(value="14509") FXTM
				option(value="14489") АxiTrader
				option(value="14491") ICE-FX
				option(value="14505") Darwinex
				option(value="14510") HotForex
				option(value="14480") AMEGA
				option(value="14522") SuperForex
				option(value="14481") ForexMart
				option(value="18289") NBHM
				option(value="14520") Fxstart
				option(value="14521") Larson&amp;Holz

		.ping__wrap
			.ping__table
				table
					tr
						td Бесплатный VPS
						td 10 ms
					tr
						td Тариф CLASSIC NL
						td 11 ms
					tr
						td Тариф START FR
						td 15 ms
			.ping__load Загрузка . . .

	.ping__scheme-1.bg
		img(src="_/uploads/scheme-6.png" alt="")
