extends ../../templates/default
block vars
	-
		title = "Инструкции, техническая информация"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.page.bg-wrap
		.case
			.page__head
				+breadcrumbs()
			.page__body.--sm
				.page__title.h1 VPS сервер для форекс: что это и как работает
				.page__text.--mb-md.t1
					p В ниже приведенных разделах собрана вся информация, которая может вам понадобится как при выборе VPS-сервера для форекс, так и его последующей настройки перед началом торговли на форекс. Вся техническая информация изложена на доступном языке в удобных форматах как в виде пошаговых инструкций с иллюстрациями, так и в формате обучающих видео. Помимо инструкций по работе с VPS для форекс, вы найдете список часто задаваемых вопросов, а также полезные лайфкахи по работе с торговыми советниками на форекс сервере.
				-
					blinks = [
						[
							'instructions.html', 
							'Инструкции', 
							'Инструкции по настройке VPS-сервера, а также ответы на часто задаваемые вопросы.'
						],
						[
							'.html', 
							'VPS справочник', 
							'Полезные статьи, обзоры и лайфхаки, которые помогут вам в работе с VPS-сервером.'
						],
						[
							'video-uroki-po-vps.html', 
							'Видео-уроки', 
							'Видеоинструкции по настройке и работе с VPS-сервером, а также полезные лайфхаки.'
						],
					]
				+style('b-links', 'blocks')
				include ../../blocks/b-links/b-links

		.page__bg-10.bg
			img(src="_/uploads/scheme-page-1.png" alt="")
