include ../../sys/pug/vars

.broker
	.broker__desc.t1
		h1 Обзор форекс-брокера InstaForex
		p Форекс-брокер InstaForex работает на рынке с 2007 года. За прошедшее время клиентами компании стали около 7 млн человек в разных странах мира. Сейчас компания продолжает реализовывать активные маркетинговые кампании, направленные на привлечение новых клиентов. Ежедневно на сайте ИнстаФорекс регистрируется до 1000 человек. Условия торговли у фирмы привлекательны и для начинающих трейдеров, и для опытных валютных спекулянтов
	.broker__data.data.--upper.--left.--mob-line
		.data__list
			.data__item
				.data__name год основания
				.data__value 2007 год
			.data__item
				.data__name адрес сайта
				.data__value #[a(href="https://www.instaforex.org/ru") www.instaforex.org/ru]
			.data__item
				.data__name регулятор
				.data__value FSC
			.data__item
				.data__name страна регистрации
				.data__value Виргинские Острова, Сент-Винсент и Гренадины, Кипр
			.data__item
				.data__name минимальный депозит
				.data__value 1 USD
			.data__item
				.data__name валюта депозита
				.data__value USD, EUR, RUR
			.data__item
				.data__name средняя комиссия на пополнение
				.data__value 0%
			.data__item
				.data__name средняя комиссия на вывод
				.data__value 1.5%
			.data__item
				.data__name криптовалюта
				.data__value ETH, BTC, LTC, BCH, XRP
			.data__item
				.data__name инвестиционный сервис
				.data__value ПАММ, ForexCopy
	.broker__methods.methods
		.methods__list.row
			.methods__item
				<img src="https://govpsfx.com/wp-content/themes/govps/img/payicons/bt.png">
			.methods__item
				<img src="https://govpsfx.com/wp-content/themes/govps/img/payicons/visa.png">
			.methods__item
				<img src="https://govpsfx.com/wp-content/themes/govps/img/payicons/mc.png">
			.methods__item
				<img src="https://govpsfx.com/wp-content/themes/govps/img/payicons/skrill.png">
			.methods__item
				<img src="https://govpsfx.com/wp-content/themes/govps/img/payicons/neteller.png">
			.methods__item
				<img src="https://govpsfx.com/wp-content/themes/govps/img/payicons/qiwi.png">
			.methods__item
				<img src="https://govpsfx.com/wp-content/themes/govps/img/payicons/yandex.png">
			.methods__item
				<img src="https://govpsfx.com/wp-content/themes/govps/img/payicons/btc.png">
			.methods__item
				<img src="https://govpsfx.com/wp-content/themes/govps/img/payicons/ltc.png">
			.methods__item
				<img src="https://govpsfx.com/wp-content/themes/govps/img/payicons/epayments.png">
			.methods__item
				<img src="https://govpsfx.com/wp-content/themes/govps/img/payicons/webmoney.png">

	.broker__text.t1
		h2 ТИПЫ СЧЕТОВ:
		<div id="tablepress-10_wrapper" class="dataTables_wrapper no-footer"><table id="tablepress-10" class="tablepress tablepress-id-10 dataTable no-footer" role="grid"><thead><tr class="row-1 odd" role="row"><th class="column-1 sorting" tabindex="0" aria-controls="tablepress-10" rowspan="1" colspan="1" aria-label="Тип счета: активировать для сортировки столбца по возрастанию" style="width: 87px;">Тип счета</th><th class="column-2 sorting" tabindex="0" aria-controls="tablepress-10" rowspan="1" colspan="1" aria-label="Исполнение: активировать для сортировки столбца по возрастанию" style="width: 96px;">Исполнение</th><th class="column-3 sorting" tabindex="0" aria-controls="tablepress-10" rowspan="1" colspan="1" aria-label="Мин. лот: активировать для сортировки столбца по возрастанию" style="width: 69px;">Мин. лот</th><th class="column-4 sorting" tabindex="0" aria-controls="tablepress-10" rowspan="1" colspan="1" aria-label="Мин. депозит: активировать для сортировки столбца по возрастанию" style="width: 105px;">Мин. депозит</th><th class="column-5 sorting" tabindex="0" aria-controls="tablepress-10" rowspan="1" colspan="1" aria-label="Тип спреда: активировать для сортировки столбца по возрастанию" style="width: 123px;">Тип спреда</th><th class="column-6 sorting" tabindex="0" aria-controls="tablepress-10" rowspan="1" colspan="1" aria-label="Мин. спред: активировать для сортировки столбца по возрастанию" style="width: 86px;">Мин. спред</th><th class="column-7 sorting" tabindex="0" aria-controls="tablepress-10" rowspan="1" colspan="1" aria-label="Stop out: активировать для сортировки столбца по возрастанию" style="width: 68px;">Stop out</th><th class="column-8 sorting_desc" tabindex="0" aria-controls="tablepress-10" rowspan="1" colspan="1" aria-label="Макс. плечо: активировать для сортировки столбца по возрастанию" style="width: 98px;" aria-sort="descending">Макс. плечо</th></tr></thead><tbody class="row-hover"><tr class="row-6 even" role="row"><td class="column-1">Pro STP</td><td class="column-2">Market</td><td class="column-3">0.01</td><td class="column-4">$1</td><td class="column-5">Плавающий</td><td class="column-6">0 пп</td><td class="column-7">20%</td><td class="column-8">1:200</td></tr><tr class="row-4 odd" role="row"><td class="column-1">Cent NDD</td><td class="column-2">Market</td><td class="column-3">0.01</td><td class="column-4">$1</td><td class="column-5">Плавающий</td><td class="column-6">0.1 пп</td><td class="column-7">10%</td><td class="column-8">1:1000</td></tr><tr class="row-2 even" role="row"><td class="column-1">Cent</td><td class="column-2">Instant</td><td class="column-3">0.01</td><td class="column-4">$1</td><td class="column-5">Фиксированный</td><td class="column-6">1.5 пп</td><td class="column-7">10%</td><td class="column-8">1:1000</td></tr><tr class="row-5 odd" role="row"><td class="column-1">Classic NDD</td><td class="column-2">Market</td><td class="column-3">0.01</td><td class="column-4">$1</td><td class="column-5">Плавающий</td><td class="column-6">0.1 пп</td><td class="column-7">20%</td><td class="column-8">1:1000</td></tr><tr class="row-3 even" role="row"><td class="column-1">Classic</td><td class="column-2">Instant</td><td class="column-3">0.01</td><td class="column-4">$1</td><td class="column-5">Фиксированный</td><td class="column-6">2 пп</td><td class="column-7">20%</td><td class="column-8">1:1000</td></tr></tbody></table></div>
		.wp-block-embed
			<iframe src="https://www.youtube.com/embed/Cm98zhAx0Tg" width="940" height="529" frameborder="0" allowfullscreen="allowfullscreen"><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span></iframe>
		<h2>ОБЩИЕ УСЛОВИЯ СОТРУДНИЧЕСТВА</h2>
		p Согласно информации на официальном сайте ИнстраФорекс, российский брокер является частью финансовой корпорации, которая предоставляет услуги во многих странах мира. В состав международной компании входит несколько отдельных фирм, которые выполняют различные задачи в рамках предоставляемых услуг.

		blockquote.blockquote.tog.--show
			.blockquote__title.tog-head СОСТАВ ГРУППЫ КОМПАНИЙ:
			.blockquote__content.tog-body
				<ul>
					<li>Instant Trading Ltd, зарегистрированная на Виргинских островах;</li>
					<li>Insta Service Ltd с юридическим адресом в Сент-Винсенте и Гренадинах;</li>
					<li>Instant Trading EU Ltd, которая основана и работает на Кипре;</li>
					<li>InstaVector Ltd, представляющая интересы брокера в России.</li>
				</ul>
		p Легитимность работы InstaForex на разных территориях подтверждается лицензиями и другими разрешительными документами, которые выданы контролирующими органами отдельных стан. Наиболее важными являются: лицензия Кипрской комиссии по ценным бумагам и биржам, лицензия комиссии по финансовым услугам Виргинских островов. Номера соответствующих документов можно посмотреть на сайте <a href="https://www.instaforex.org/ru/account_types?x=JWVP" target="_blank" rel="noopener noreferrer">InstaForex</a>.

		p <a href="https://instaforex.org/ru/forex_promo/no_deposit_bonus?x=JWVP" target="_blank" rel="noopener noreferrer"><img class="aligncenter" src="https://govpsfx.com//banners/brokers/insta-bonus-468.jpg" alt="" width="468" height="60" /></a>
		<h2>Ввод и вывод средств осуществляется следующими способами:</h2>
		p Для пополнения депозита в торговой платформе ИнстаФорекс предлагает множество разных способов. При выборе конкретного варианта помните, что вывод прибыли от трейдинга возможен только на те же реквизиты и в ту же платежную систему, что была использования для перечисления средств в адрес компании.
		<h2 class="article__text-hd-2" style="text-align: center;">Открой счет в InstaForex и получи $1500 бонус + VPS бесплатно!</h2>
		.steps
			.steps__list.row
				.steps__item.bg-wrap
					.steps__count 01
					.steps__link <a href="https://www.instaforex.org/ru/account_types?x=JWVP" target="_blank" rel="noopener noreferrer">ПОДАЙТЕ ЗАЯВКУ НА ПОЛУЧЕНИЕ БОНУСА 1500 USD В КОМПАНИИ INSTAFOREX.</a>
				
				.steps__item.bg-wrap
					.steps__count 02
					.steps__link <a href="https://www.instaforex.org/ru/account_types?x=JWVP" target="_blank" rel="noopener noreferrer">ПОПОЛНИТЕ СЧЕТ НА 10% ОТ СУММЫ ПОЛУЧЕННОГО БОНУСА.</a>
					.steps__img
						img(src="https://govpsfx.com/wp-content/themes/govps/img/article__block-2-item-img-1.png" alt="")

				.steps__item.bg-wrap
					.steps__count 03
					.steps__link <a href="https://my.govpsfx.com/vps-account/add" target="_blank" rel="noopener noreferrer">В ЛИЧНОМ КАБИНЕТЕ GOVPSFX ПОДАЙТЕ ЗАЯВКУ НА ПОЛУЧЕНИЕ VPS.</a>
					.steps__img
						img(src="https://govpsfx.com/wp-content/themes/govps/img/article__block-2-item-img-2.png" alt="")

		p Возможно также открытие демонстрационных счетов для ознакомления с процессом торговли #[br]на рынке Форекс.
		p Компания не предлагает отдельных ECN-счетов. Однако на сайте ИнстаФорекс есть упоминание #[br]о том, что фирма предоставляет круглосуточный доступ к ECN-торговле. Компания обеспечивает высокую #[br]внутреннюю ликвидность, ее клиенты защищены от нерыночных рисков, присущим торговле через маркет-мейкеров.
		p Помимо стандартных валютных пар, фирма предоставляет возможность торговли криптовалютами – биткоином, лайткоином, риплом. Отдельных счетов для этого регистрировать не нужно. Достаточно выбрать #[br]в терминале нужный финансовый инструмент.
		h2 ДОПОЛНИТЕЛЬНЫЕ ВОЗМОЖНОСТИ
		p Помимо стандартных возможностей и инструментов, брокер предлагает своим клиентам опции, облегчающие работу.
		p Клиенты, которые располагают свободными средствами, но не хотят заниматься торговлей валютой самостоятельно, могут зарегистрироваться в ПАММ-системе на сайте InstaForex и передать деньги Управляющему трейдеру. Благодаря этому снижается риск потери денежных средств из-за неправильного самостоятельного анализа рынка.
		p Суть ПАММ-инвестирования заключается в следующем. Клиент ИнстраФорекс на сайте компании выбирает из списка доступных управляющих человека, которому передает в доверительное управление свой капитал. Этот управляющий совершает сделки с частью своего вклада и частью вклада инвестора. Полученная прибыль перечисляется на счет инвестора, управляющий за свои услуги берет комиссионное вознаграждение.

	
