include ../../sys/pug/vars

.we.bg-wrap
	.case
		.we__wrap.row
			.we__list
				.we__item
					.we__count 01
					.we__value.t1 Доступные VPS-серверы для трейдинга в аренду и на бесплатной основе
					.we__scheme
						img(src="_/uploads/scheme-we-1.png" alt="")
				.we__item
					.we__count 02
					.we__value.t1 Профессиональная клиентская поддержка во всех аспектах трейдинга 24/7
					.we__scheme
						img(src="_/uploads/scheme-we-2.png" alt="")
				.we__item
					.we__count 03
					.we__value.t1 Дополнительные услуги для клиентов: рибейт, советники, бонусы, обзоры брокеров и т.д.
					.we__scheme
						img(src="_/uploads/scheme-we-3.png" alt="")
			.we__content
				.we__title.h2 #[h2 Кратко! #[br]Кто мы]
				.we__text Мы - команда технических специалистов и трейдеров, объединенных целью сделать по настоящему крутой и полезный сервис, услугами которого трейдеры по всему миру могут пользоваться каждый день в реальном торговом процессе
				a.we__btn.btn.--lg.--b-white.--radius(href="") написать нам
		
	.we__scheme-1.bg
		img(src="_/uploads/scheme-10.png" alt="")

	.we__scheme-2.bg
		img(src="_/uploads/scheme-11.png" alt="")

	.we__scheme-3.bg
		img(src="_/uploads/scheme-12.png" alt="")