extends ../../templates/default
block vars
	-
		title = "Главная страница"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	//- intro 
	+style('intro', 'blocks')
	include ../../blocks/intro/intro

	//- server 
	+style('server', 'blocks')
	include ../../blocks/server/server
  
	//- how 
	+style('how', 'blocks')
	include ../../blocks/how/how

	//- ping 
	+style('ping', 'blocks')
	include ../../blocks/ping/ping

	//- price 
	+style('price', 'blocks')
	include ../../blocks/price/price
	+script('price', 'blocks')

	//- return 
	+style('return', 'blocks')
	include ../../blocks/return/return

	//- combo 
	+style('combo', 'blocks')
	include ../../blocks/combo/combo

	//- reviews 
	+style('reviews', 'blocks')
	include ../../blocks/reviews/reviews

	//- popular 
	+style('popular', 'blocks')
	include ../../blocks/popular/popular

	//- we 
	+style('we', 'blocks')
	include ../../blocks/we/we

	//- rate 
	+style('rate', 'blocks')
	include ../../blocks/rate/rate