.select {
  z-index: 5;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.select select {
  display: none;
}
.select__area {
  display: flex;
  align-items: center;
}
.select__title {
  width: calc(100% - 15px);
  white-space: nowrap;
}
.select__icon {
  width: 15px;
  transition: 0.3s;
}
.select__list {
  opacity: 0;
  position: absolute;
  top: calc(100% - 2px);
  left: -1px;
  right: -1px;
  max-height: 300px;
  overflow-y: auto;
  transition: 0.3s;
  visibility: hidden;
  transform: scale(0.75) translateY(-21px);
}
.select__item {
  transition: 0.3s;
  padding: 9.5px 29px 9.5px 18px;
}
.select__item:hover {
  color: #ffb800;
  background-color: #424445;
}
.select__item.--selected {
  color: #ffb800;
  cursor: default;
  background-color: #1e2022;
}
.select.--md .select__area {
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
}
.select.--md .select__list {
  border-radius: 4px;
}
.select.--md .select__item {
  font-size: 16px;
}
.select.--b-yellow .select__area {
  padding: 0 14px 0 14px;
  border: 1px solid #ffb800;
}
.select.--b-yellow .select__list {
  margin-top: 4px;
  border: 1px solid #ffb800;
  background-color: #1e2022;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
}
.select.--line .select__area {
  position: relative;
}
.select.--line .select__area:before {
  display: block;
  content: "";
  top: 3px;
  bottom: 3px;
  right: 42px;
  width: 1px;
  position: absolute;
  background-color: #ffb800;
}
.select.--open .select__icon {
  transform: rotate(180deg);
}
.select.--open .select__list {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(0);
}