include ../../sys/pug/vars

footer.footer.bg-wrap
	.case
		.footer__wrap.row
			.footer__col
				.footer__list.links.--col.--mb
					ul
						li
							a(href="") Получить бесплатный VPS
						li
							a(href="") Рейтинг форекс-брокеров
						li
							a(href="") Аренда VPS-серверов для Форекс
						li
							a(href="") Инструкции по работе с VPS
						li
							a(href="") Аналитика и новости
						li
							a(href="") Торговые Советники
						li
							a(href="") Бонусы и акции
						li
							a(href="") Форекс конкурсы
						li
							a(href="") ПАРТНЕРСКАЯ ПРОГРАММА
						li
							a(href="") Контакты 
			.footer__col
				a.footer__logo.logo.--lg(href="index.html")
					img(src="_/uploads/logo-govpsfx.png" alt="")
				.footer__title.footer__form-title.c-gray Подписаться на рейтинг советников
				+sForm('footer__form', 'Подписаться на рейтинг советников')
				+socials('footer__socials --w2', 'Мы в соцсетях')
			.footer__col
				.footer__title.c-gray Поддержка 24/7
				.footer__text.t1
					p #[a(href="mailto:support@govpsfx.com") support@govpsfx.com]
					p #[a(href="tel:+78124253890") +7 (812) 425-38-90]
					p #[a(href="javascript:;") поддержка в чате →]
				.footer__title.c-gray Брокерам
				.footer__email #[a(href="mailto:ib@govpsfx.com") ib@govpsfx.com]

				.footer__title.c-gray Реклама
				.footer__email #[a(href="mailto:ad@govpsfx.com") ad@govpsfx.com]
		
		.footer__copy.t1 GoVPSFX © 2015-2020 все права защищены

	.footer__scheme-1.bg
		img(src="_/uploads/scheme-15.png" alt="")

	.footer__scheme-2.bg
		img(src="_/uploads/scheme-16.png" alt="")

	.footer__scheme-3.bg
		img(src="_/uploads/scheme-17.png" alt="")


.up.btn.--b-yellow.--radius#up-btn
	.up__icon
		<svg width="17" height="23" viewBox="0 0 17 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17 8.45493L15.029 10.4563L11.4976 6.90282L9.77295 4.86056L9.64976 4.90141L9.89614 8.86338V23H7.10386L7.10386 8.86338L7.35024 4.90141L7.22705 4.86056L5.50242 6.90282L1.97101 10.4563L0 8.45493L8.5 0L17 8.45493Z" fill="white"></path></svg>
	.up__title наверх


