extends ../../templates/default
block vars
	-
		title = "Инструкции"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.page.bg-wrap
		.case
			.page__head
				+breadcrumbs()
			.page__body.--sm
				.page__title.h1 Установка и настройка VPS-сервера для торговли на форекс
				.page__text.--mb-sm.t1
					p Первое, с чем приходится столкнуться трейдеру при настройке VPS-сервера — это как же попасть на этот самый VPS-сервер для Форекс. А так как на Форекс ВПС частенько используют для торговли советниками, то немаловажно знать, как правильно загрузить этого самого робота на ваш VPS-сервер для Форекс. Для любителей выверить все до миллисекунд мы написали инструкцию, как самостоятельно проверить пинг до торговых серверов брокеров. В разделе кроме инструкций можно найти список часто задаваемых вопросов, на которые мы постарались ответить максимально развернуто.
					p Так что, если Вы уже стали счастливым обладателем VPS-сервера от GoVPSFX, но ваше жизненное кредо не читать ни при каких обстоятельствах длинные и нудные инструкции по эксплуатации, то мы спешим вас обрадовать: у нас таких и нет. Для вашего удобства все инструкции по настройке VPS на Форекс разбиты на шаги и сопровождаются графическими изображениями с подробными комментариями. Если вы все же не нашли нужную инструкцию по настройке VPS-сервера для Форекс, то напишите нам через форму обратной связи, которая находится в разделе Контакты, и мы обязательно добавим инструкцию на сайт.
					h2 Подключение к VPS-серверу
					ul.a-gray
						li 
							a(href="") КАК ПОДКЛЮЧИТЬСЯ ЧЕРЕЗ WINDOWS 7
						li 
							a(href="") КАК ПОДКЛЮЧИТЬСЯ ЧЕРЕЗ WINDOWS 8
						li 
							a(href="") КАК ПОДКЛЮЧИТЬСЯ ЧЕРЕЗ WINDOWS 10
						li 
							a(href="") КАК ПОДКЛЮЧИТЬСЯ ЧЕРЕЗ MAC OS
						li 
							a(href="") КАК ПОДКЛЮЧИТЬСЯ ЧЕРЕЗ ANDROID
						li 
							a(href="") КАК ПОДКЛЮЧИТЬСЯ ЧЕРЕЗ IOS
						li 
							a(href="") ПОДКЛЮЧЕНИЕ ЧЕРЕЗ PARALLELS ДЛЯ WINDOWS
						li 
							a(href="") ПОДКЛЮЧЕНИЕ ЧЕРЕЗ PARALLELS ДЛЯ MAC OS
						li 
							a(href="") ПОДКЛЮЧЕНИЕ ЧЕРЕЗ PARALLELS ДЛЯ IOS
						li 
							a(href="") ПОДКЛЮЧЕНИЕ ЧЕРЕЗ PARALLELS ДЛЯ ANDROID
					h2 Работа с VPS-сервером
					ul.a-gray
						li
							a(href="") ИНСТРУКЦИЯ ПО ЗАГРУЗКЕ СОВЕТНИКА НА VPS
						li
							a(href="") ПРАВИЛЬНОЕ ОТКЛЮЧЕНИЕ ОТ СЕРВЕРА
						li
							a(href="") ИЗМЕРЯЕМ PING ДО ТОРГОВОГО СЕРВЕРА БРОКЕРА
						li
							a(href="") КАК ОТКРЫТЬ СЧЕТ ЧТОБЫ ПОЛУЧИТЬ БЕСПЛАТНЫЙ VPS?
						li
							a(href="") ПРЕДУСТАНОВЛЕННЫЙ ТОРГОВЫЙ ТЕРМИНАЛ
						li
							a(href="") НАСТРОЙКА БЫСТРОГО ДОСТУПА К VPS-СЕРВЕРУ

				- questionsTitle = 'Часто задаваемые вопросы по бесплатным серверам'
				- questionsMode  = '--yellow'
				+style('questions', 'blocks')
				include ../../blocks/questions/questions

				- questionsTitle = 'Часто задаваемые вопросы по платным серверам'
				include ../../blocks/questions/questions
