include ../../sys/pug/vars

.course
	.case
		.course__nav
			.course__nav-list.achore-link.row
				a(href="#btn_anchor_1").course__nav-item ГРАФИЧЕСКИЕ СТРАТЕГИИ FOREX
				a(href="#btn_anchor_2").course__nav-item ТРЕНДОВЫЕ СТРАТЕГИИ FOREX
				a(href="#btn_anchor_3").course__nav-item СКАЛЬПИНГ СТРАТЕГИИ FOREX
				a(href="#btn_anchor_4").course__nav-item ВНУТРИДНЕВНЫЕ СТРАТЕГИИ FOREX
				a(href="#btn_anchor_5").course__nav-item ПРОСТЫЕ СТРАТЕГИИ FOREX
				a(href="#btn_anchor_6").course__nav-item СТРАТЕГИИ РАЗГОНА ДЕПОЗИТА НА FOREX
				a(href="#btn_anchor_7").course__nav-item СТРАТЕГИИ FOREX НА ДНЕВНЫХ ГРАФИКАХ
				a(href="#btn_anchor_8").course__nav-item ДОЛГОСРОЧНЫЕ СТРАТЕГИИ FOREX


		.course__list
			.course__item.tog
				.course__head.h4.tog-head
					.course__head-name ЧАСТЬ 1. ЗАРАБОТОК НА ФОРЕКС - МИФ ИЛИ РЕАЛЬНОСТЬ
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item МИФЫ И РЕАЛЬНОСТЬ РЫНКА ФОРЕКС
						a(href="").course__body-item ПСИХОЛОГИЯ ФОРЕКС
						a(href="").course__body-item ДЕМО-СЧЕТ НА ФОРЕКС, ЗАЧЕМ И ДЛЯ ЧЕГО
						a(href="").course__body-item ОСНОВНЫЕ ВАЛЮТНЫЕ ПАРЫ НА ФОРЕКС
						a(href="").course__body-item КАК УСТРОЕНЫ ТОРГИ НА ФОРЕКС?
						a(href="").course__body-item КАК ЗАРАБОТАТЬ НА ФОРЕКС?
			
			.course__item.tog
				.course__head.h4.tog-head
					.course__head-name ЧАСТЬ 2. С ЧЕГО НАЧАТЬ НОВИЧКУ НА ФОРЕКС
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item ОТКУДА БЕРУТСЯ КОТИРОВКИ ВАЛЮТ НА ФОРЕКС
						a(href="").course__body-item КАК ОТКРЫТЬ СЧЕТ НА ФОРЕКС И КАКОЙ ВЫБРАТЬ ТИП СЧЕТА
						a(href="").course__body-item ЛУЧШИЕ ФОРЕКС КНИГИ ДЛЯ НОВИЧКОВ
						a(href="").course__body-item КАК ПОЛЬЗОВАТЬСЯ РЕЙТИНГАМИ ФОРЕКС-БРОКЕРОВ И СТОИТ ЛИ ИМ ВЕРИТЬ
						a(href="").course__body-item КАК ВЫБРАТЬ ХОРОШЕГО БРОКЕРА?
						a(href="").course__body-item ЧТО НУЖНО ЗНАТЬ О БОНУСАХ НА ФОРЕКС

			.course__item.tog
				.course__head.h4.tog-head
					.course__head-name ЧАСТЬ 3. ФОРЕКС-ОБУЧЕНИЕ. ОСНОВЫ
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item ФОРЕКС ОБУЧЕНИЕ - С ЧЕГО НАЧАТЬ?
						a(href="").course__body-item КУПИ МОЙ КУРС И ЗАРАБОТАЙ МИЛЛИОНЫ
						a(href="").course__body-item ТОРГОВЫЕ СЕССИИ НА ФОРЕКС
						a(href="").course__body-item ЭКОНОМИЧЕСКИЙ ФОРЕКС-КАЛЕНДАРЬ – ПОМОЩНИК ТРЕЙДЕРА
						a(href="").course__body-item ФОРЕКС-ИНДИКАТОРЫ
						a(href="").course__body-item КОНКУРСЫ НА ДЕМО-СЧЕТАХ КАК ВОЗМОЖНОСТЬ САМОРЕАЛИЗАЦИИ
		
			.course__item.tog
				.course__head.h4.tog-head
					.course__head-name ЧАСТЬ 4. ФОРЕКС-ОБУЧЕНИЕ. ОТ ПРОСТОГО К СЛОЖНОМУ
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item ПОПУЛЯРНЫЕ СТРАТЕГИИ ФОРЕКС-ТОРГОВ
						a(href="").course__body-item ОСОБЕННОСТИ АРБИТРАЖНОЙ ТОРГОВЛИ НА ФОРЕКС
						a(href="").course__body-item ТОРГОВЛЯ НЕФТЬЮ ОНЛАЙН НА ФОРЕКС
						a(href="").course__body-item ТОРГОВЛЯ ЗОЛОТОМ НА ФОРЕКС
						a(href="").course__body-item ОСОБЕННОСТИ ДЕЙТРЕЙДИНГА
						a(href="").course__body-item ПИПСОВКА И СКАЛЬПИНГ

			.course__item.tog
				.course__head.h4.tog-head
					.course__head-name ЧАСТЬ 5. 5 ВЕЩЕЙ, КОТОРЫЕ ДОЛЖЕН ЗНАТЬ ТРЕЙДЕР
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item УРОВНИ ФИБОНАЧЧИ
						a(href="").course__body-item ТОРГОВЫЙ ПЛАН ТРЕЙДЕРА ИЛИ БЕЗОПАСНАЯ СИСТЕМА ТОРГОВ НА ФОРЕКС
						a(href="").course__body-item СТОП-ЛОСС И ТЕЙК-ПРОФИТ КАК СИСТЕМА СТРАХОВКИ ФОРЕКС-РИСКОВ
						a(href="").course__body-item МОДЕЛИ КОНСОЛИДАЦИИ В ГРАФИЧЕСКОМ МЕТОДЕ АНАЛИЗА
						a(href="").course__body-item ИСПОЛЬЗОВАНИЕ СОВЕТНИКОВ НА FOREX
						
			.course__item.tog(id="btn_anchor_1")
				.course__head.h4.tog-head
					.course__head-name ТРЕНДОВЫЕ СТРАТЕГИИ FOREX:
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item ТРЕНДОВЫЕ СТРАТЕГИИ FOREX
						a(href="").course__body-item ТРЕНДОВАЯ FOREX СТРАТЕГИЯ «EMA (4+13+50) + STOCHASTIC»
						a(href="").course__body-item ТРЕНДОВАЯ FOREX СТРАТЕГИЯ НА ТРЕХ «ЕМА, PARABOLIC SAR И ADX»
						a(href="").course__body-item ТРЕНДОВАЯ FOREX СТРАТЕГИЯ «ТРИ КАСАНИЯ»
						a(href="").course__body-item ТРЕНДОВАЯ FOREX СТРАТЕГИЯ «СВЕТОФОР»
						a(href="").course__body-item ТРЕНДОВАЯ СТРАТЕГИЯ «FOREX TREND RIVER»
						a(href="").course__body-item ТОРГОВАЯ СТРАТЕГИЯ «ВЫХОД ЛЮСТРЫ»
						a(href="").course__body-item ТОРГОВАЯ СТРАТЕГИЯ «BLACK PANTHER»

			.course__item.tog(id="btn_anchor_2")
				.course__head.h4.tog-head
					.course__head-name СКАЛЬПИНГ СТРАТЕГИИ FOREX:
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item ВИДЫ СКАЛЬПИНГ СТРАТЕГИЙ
						a(href="").course__body-item СКАЛЬПИНГ СТРАТЕГИЯ «SUPERSCALPER»
						a(href="").course__body-item CКАЛЬПИНГ СТРАТЕГИЯ «МОМЕНТУМ ЭЛДЕРА»
						a(href="").course__body-item CКАЛЬПИНГ СТРАТЕГИЯ «FUTUNACHI»
						a(href="").course__body-item СКАЛЬПИНГ СТРАТЕГИЯ «PROSCALPINGFX»
						a(href="").course__body-item СКАЛЬПИНГ СТРАТЕГИЯ «ПИПСОВКА НА СТОХАСТИКЕ»

			.course__item.tog(id="btn_anchor_3")
				.course__head.h4.tog-head
					.course__head-name ВНУТРИДНЕВНЫЕ СТРАТЕГИИ FOREX:
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item ВНУТРИДНЕВНЫЕ СТРАТЕГИИ ФОРЕКС - ОСОБЕННОСТИ, ПЛЮСЫ И МИНУСЫ
						a(href="").course__body-item ВНУТРИДНЕВНАЯ ФОРЕКС СТРАТЕГИЯ «20 ПУНКТОВ В ДЕНЬ»
						a(href="").course__body-item ВНУТРИДНЕВНАЯ ФОРЕКС СТРАТЕГИЯ «СИЛА ИМПУЛЬСА»
						a(href="").course__body-item ВНУТРИДНЕВНАЯ ФОРЕКС СТРАТЕГИЯ «ПУРИА»
						a(href="").course__body-item ВНУТРИДНЕВНАЯ СТРАТЕГИЯ «OZFX SQUEEZE»
						a(href="").course__body-item ВНУТРИДНЕВНАЯ СТРАТЕГИЯ «ВНУТРИДНЕВНАЯ УСТАНОВКА 100%»

			.course__item.tog(id="btn_anchor_4")
				.course__head.h4.tog-head
					.course__head-name ПРОСТЫЕ СТРАТЕГИИ FOREX:
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item ПРОСТЫЕ СТРАТЕГИИ ФОРЕКС - ОСОБЕННОСТИ, ПЛЮСЫ И МИНУСЫ
						a(href="").course__body-item ПРОСТАЯ СТРАТЕГИЯ «МЕТОД АУТСАЙДИНГА»
						a(href="").course__body-item ПРОСТАЯ СТРАТЕГИЯ «LAZY TRADER»
						a(href="").course__body-item ПРОСТАЯ СТРАТЕГИЯ «ДЕФИЛЕ SAR»
						a(href="").course__body-item ПРОСТАЯ СТРАТЕГИЯ «HEIKEN ASHI 30»
						a(href="").course__body-item ПРОСТАЯ СТРАТЕГИЯ «ТРИ УТКИ»

			.course__item.tog(id="btn_anchor_5")
				.course__head.h4.tog-head
					.course__head-name СТРАТЕГИИ РАЗГОНА ДЕПОЗИТА НА FOREX:
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item СТРАТЕГИИ ФОРЕКС ДЛЯ РАЗГОНА ДЕПОЗИТА - ОСОБЕННОСТИ, ПЛЮСЫ И МИНУСЫ
						a(href="").course__body-item СТРАТЕГИЯ ДЛЯ РАЗГОНА ДЕПОЗИТА «WASP»
						a(href="").course__body-item СТРАТЕГИЯ ДЛЯ РАЗГОНА ДЕПОЗИТА «ВА-БАНК»
						a(href="").course__body-item СТРАТЕГИЯ ДЛЯ РАЗГОНА ДЕПОЗИТА «+1000%»
						a(href="").course__body-item СТРАТЕГИЯ ДЛЯ РАЗГОНА ДЕПОЗИТА «ТРИ СВЕЧИ»
						a(href="").course__body-item СТРАТЕГИЯ ДЛЯ РАЗГОНА ДЕПОЗИТА «ПОБЕДА»

			.course__item.tog(id="btn_anchor_6")
				.course__head.h4.tog-head
					.course__head-name СТРАТЕГИИ FOREX НА ДНЕВНЫХ ГРАФИКАХ:
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item ФОРЕКС СТРАТЕГИИ НА ДНЕВНЫХ ГРАФИКАХ: ОСОБЕННОСТИ И ПРЕИМУЩЕСТВА
						a(href="").course__body-item СТРАТЕГИЯ НА ДНЕВНЫХ ГРАФИКАХ «THE 7»
						a(href="").course__body-item СТРАТЕГИЯ НА ДНЕВНЫХ ГРАФИКАХ «МЕТОД ПАУЛЮСА»
						a(href="").course__body-item СТРАТЕГИЯ НА ДНЕВНЫХ ГРАФИКАХ «FOREX GAMBIT»
						a(href="").course__body-item СТРАТЕГИЯ НА ДНЕВНЫХ ГРАФИКАХ «СЛОН И МОСЬКА»
						a(href="").course__body-item СТРАТЕГИЯ НА ДНЕВНЫХ ГРАФИКАХ «ASHFX DAILY»

			.course__item.tog(id="btn_anchor_7")
				.course__head.h4.tog-head
					.course__head-name ДОЛГОСРОЧНЫЕ СТРАТЕГИИ FOREX:
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item ДОЛГОСРОЧНЫЕ ФОРЕКС-СТРАТЕГИИ: ОСОБЕННОСТИ, ПЛЮСЫ И МИНУСЫ
						a(href="").course__body-item ДОЛГОСРОЧНАЯ ФОРЕКС-СТРАТЕГИЯ «SPRING»
						a(href="").course__body-item ДОЛГОСРОЧНАЯ ФОРЕКС-СТРАТЕГИЯ «POKER»
						a(href="").course__body-item ДОЛГОСРОЧНАЯ ФОРЕКС-СТРАТЕГИЯ «NO STRESS»
						a(href="").course__body-item ДОЛГОСРОЧНАЯ ФОРЕКС-СТРАТЕГИЯ «OZFX»
						a(href="").course__body-item ДОЛГОСРОЧНАЯ ФОРЕКС-СТРАТЕГИЯ «TRANSIENT ZONES»

			.course__item.tog(id="btn_anchor_8")
				.course__head.h4.tog-head
					.course__head-name ГРАФИЧЕСКИЕ СТРАТЕГИИ FOREX:
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item ГРАФИЧЕСКИЕ ФОРЕКС-СТРАТЕГИИ: ОСОБЕННОСТИ, ПЛЮСЫ И МИНУСЫ
						a(href="").course__body-item ГРАФИЧЕСКАЯ ФОРЕКС-СТРАТЕГИЯ «ОТБОЙ ОТ УРОВНЯ»
						a(href="").course__body-item ГРАФИЧЕСКАЯ ФОРЕКС-СТРАТЕГИЯ «ДВА МАКСИМУМА/МИНИМУМА В ОДИН ДЕНЬ»
						a(href="").course__body-item ГРАФИЧЕСКАЯ ФОРЕКС-СТРАТЕГИЯ «ФЛАГ + ABC»
						a(href="").course__body-item ГРАФИЧЕСКАЯ ФОРЕКС-СТРАТЕГИЯ «ПРОБОЙ-ВОЗВРАТ»
						a(href="").course__body-item ГРАФИЧЕСКАЯ ФОРЕКС-СТРАТЕГИЯ «ГРАЧИ»

			.course__item.tog(id="btn_anchor_9")
				.course__head.h4.tog-head
					.course__head-name СТРАТЕГИИ FOREX НА ЯПОНСКИХ СВЕЧАХ:
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item ФОРЕКС-СТРАТЕГИИ НА ЯПОНСКИХ СВЕЧАХ: ОСОБЕННОСТИ, ПЛЮСЫ И МИНУСЫ
						a(href="").course__body-item ФОРЕКС-СТРАТЕГИЯ НА ЯПОНСКИХ СВЕЧАХ «5 CANDLES»
						a(href="").course__body-item ФОРЕКС-СТРАТЕГИЯ НА ЯПОНСКИХ СВЕЧАХ «РАКЕТА»
						a(href="").course__body-item ФОРЕКС-СТРАТЕГИЯ НА ЯПОНСКИХ СВЕЧАХ «2 FRACTAL CANDLE»
						a(href="").course__body-item ФОРЕКС-СТРАТЕГИЯ НА ЯПОНСКИХ СВЕЧАХ «KEY REVERSAL»
						a(href="").course__body-item ФОРЕКС-СТРАТЕГИЯ НА ЯПОНСКИХ СВЕЧАХ «РЕЛЬСЫ НА СПОКОЙНОМ РЫНКЕ»

			.course__item.tog(id="btn_anchor_10")
				.course__head.h4.tog-head
					.course__head-name СТРАТЕГИИ ТОРГОВЛИ ОТ УРОВНЕЙ:
					.course__head-icon
						img(src="_/uploads/icons/chevron-yellow.svg", alt="")
				.course__body.tog-body
					.course__body-list
						a(href="").course__body-item НАСТРОЙКА ГРАФИКА И ВЫБОР ПЛАТФОРМЫ
						a(href="").course__body-item ВИДЫ И КЛАССИФИКАЦИЯ УРОВНЕЙ ПО СИЛЕ
						a(href="").course__body-item ПРЕИМУЩЕСТВА ТОРГОВЛИ ОТ УРОВНЕЙ
						a(href="").course__body-item ЗНАКОМСТВО С ТРЕНДОВЫМИ ТОРГОВЫМИ ФОРМАЦИЯМИ

