include ../../sys/pug/vars

.return(class=returnClass)
	.case
		.return__wrap.row
			.return__data
				.return__title.h4.c-yellow Возврат спреда рибейт-сервис
				.return__price.p.row.--md
					.p__name начиная от:
					.p__value 15.30
					.p__currency USD/ЛОТ
				a.return__btn.btn.--lg.--b-yellow.--radius(href="rebate-service.html") узнать про рибейт-сервис
			.return__content
				.return__text.t1
					p Теперь вам не нужно арендовать VPS-сервер на одном сайте, а получать рибейт – на другом. У нас вы сможете арендовать сервер для трейдинга по выгодной цене и получить 90% возврат спреда (рибейт), и все это на одном сайте в одном личном кабинете. Остались вопросы – пишите на почту:
					p #[a(href="mailto:rebate@govpsfx.com") rebate@govpsfx.com]