extends ../../templates/default
block vars
	-
		title = "Видео-уроки"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.page.bg-wrap
		.case
			.page__head
				+breadcrumbs()
			.page__body.--sm
				.page__title.h1 Видео-уроки по работе с VPS для Форекс
				.page__text.--mb-sm.t1 
					p Для всех любителей экшена и ярых противников скучных и длинных текстовых инструкций, мы отсняли видео инструкции. Здесь вы сможете найти все необходимые инструкции, начиная с первого подключения к VPS-серверу, заканчивая правильной установкой торгового советника и проверкой пинга до торгового сервера вашего форекс-брокера. Раздел постоянно пополняется новыми видео инструкциями, так что не забудьте подписаться на наш официальный #[a(href="https://www.youtube.com/channel/UCWHZ7uplYehuP8qeZUiaDVg") YouTube] канал и поставить лайк. Кроме инструкций на канале выходят видеообзоры брокеров и разбор интересных торговых стратегий. Приятного просмотра, товарищи трейдеры!
				+style('videos', 'blocks')
				include ../../blocks/videos/videos
				