.checkbox {
  display: inline-flex;
  flex-wrap: wrap;
}
.checkbox__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.checkbox__icon svg {
  transition: 0.3s;
  transform: scale(0);
}
.checkbox__label {
  max-width: calc(100% - 17px);
  position: relative;
  padding-left: 8px;
}
.checkbox.--md .checkbox__icon {
  position: relative;
  top: 2px;
}
.checkbox.--md .checkbox__label {
  font-size: 16px;
  line-height: 21px;
}
.checkbox.--checked .checkbox__icon svg {
  transform: scale(1);
}