include ../../sys/pug/vars

.broker__conclusion.conclusion
	.case.--sm
		.conclusion__title.h4 ЗАКЛЮЧЕНИЕ
		.conclusion__text.t1
			p Форекс-брокер InstaForex – хороший вариант для работы на рынке Форекс. И начинающий, и опытный трейдер найдет для себя подходящий для торговли счет с нужными условиями. А инвестор получит пассивный доход с минимальным риском лишиться капитала.