include ../../sys/pug/vars

.get-free
	.get-free__title.h1 Что бы получить #[br]советник бесплатно
	.get-free__list
		.get-free__item
			.get-free__count #1
			.get-free__text
				p Выберите любого брокера из нашего списка и откройте торговый счет. Мы рекомендуем <a href="https://www.instaforex.org/ru/account_types?x=JWVP" target="_blank" rel="noopener noreferrer">InstaForex</a>, <a href="https://ru.weltrade.com/?r1=ipartner&amp;r2=6699" target="_blank" rel="noopener noreferrer">Weltrade</a>, <a href="https://rbfxdirect.com/ru/site/forex-trading/trading/trading-accounts/?a=bsut" target="_blank" rel="noopener noreferrer">RoboForex</a>;
		.get-free__item
			.get-free__count #2
			.get-free__text
				p Подайте заявку на получение советника, указав номер счета и имя брокера;
		.get-free__item
			.get-free__count #3
			.get-free__text
				p Если у вас уже есть счет у брокера, напишите на почту <a href="mailto:info@govpsfx.com">info@govpsfx.com</a>, указав номер счета, имя брокера и советника, который хотите получить.

	
		