include ../../sys/pug/vars

.price.bg-wrap
	.case
		.price__title.h2.tac #[h2 Стоимость аренды VPS]
		.price__subtitle.tac Помимо бесплатного VPS, есть несколько платных тарифов:
		include price-slider
		
	.price__scheme-1.bg
		img(src="_/uploads/scheme-7.png" alt="")
